[2020-08-18 13:01] nierad commented on #582
Hi @goord,
the file `/tmp/cmorize/LM02/osm/002/LM02-ifs-1851/139.128.111.3`
shows
[code]
The other file doesn't exist.

[2020-08-20 07:51] goord commented on #582
hmm for some reason the ```1851-01-01 03:00:00``` time stamp is missing and CDO does not like that perhaps. Can you share the january model output file Lars? Perhaps at ECMWF or via an ftp server?

Does cdo produce a valid netcdf file ```ts_Amon.nc``` if you run
[code]

[2020-08-20 08:13] nierad commented on #582
Hi @goord,
cdo doesn't produce a valid `ts_Amon.nc`-file. It exists but is not accessible to e.g. ncview or ncdump.
The input file is located at:
http://stormbringer.nateko.lu.se/public/lars/issue_582/MML_LM02_3h_GG_185101.grb.gz

[2020-08-25 19:31] goord commented on #582
Hi Lars, sorry for the slow responses. I am working on this tomorrow. Your grib file however only contains a single time point at 16th of January, is that correct?

[2020-08-26 09:59] nierad commented on #582
Hi @goord,
yes that's correct. The original grib-files are monthly. Do you need more?

[2020-08-26 13:22] goord commented on #582
Hmm I have never encountered such output before...So these grib files should be cmorized with ifs2cmor, not the lpjg module? Sofar I have actually only considered the possibility of 3- or 6-hourly output from IFS...

[2020-08-26 13:23] goord commented on #582
...so I'm not really surprised this doesn't work. I can have a look on my laptop to see what happens

[2020-08-26 14:12] etiennesky commented on #582
You need to cmorize the  raw grib output from the osm which is (almost) identical to its grub output.

On August 26, 2020 3:24:03 PM GMT+02:00, Gijs van den Oord <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

http://bsc.es/disclaimer

[2020-08-26 14:24] nierad commented on #582
@goord : But is does work for most of the years for most of the variables.

[2020-08-27 15:47] plesager opened #652 "Cannot cmorize some COSP CALIPSO cloud fraction output"
Cmorizing a run with COSP output with release 1.5, I got these errors:

[code]
`ece2cmor3` does not complain about the four 43-46.126 requests, which are also COSP output. The problematic variables are `cl{l,m,h}`, the low/mid/high-level cloud fractions. The total cloud fraction (43.126 and 44.126) is not a problem.

[2020-08-27 16:03] klauswyser commented on #652
Could it be that these fields are missing at the 1st timestep, i.e. in the ICMGG*000000 file?

[2020-08-27 18:54] goord commented on #652
Can you check the initial state file? Does this happen for all legs or just the first?

[2020-08-28 07:33] plesager commented on #652
Happening for all legs. Data are present in all files according to grib message headers:

[code]

[2020-08-28 07:41] goord commented on #652
Hi Philippe, I think it's the level type that's the problem here, the grib file says surface but ece2cmor3 is looking for a specific pressure level. I can correct this in the grib filter.

This is actually a common issue in ifs2cmor and I haven't found a systematic way to treat such mismatches or exceptions

[2020-08-28 07:50] plesager commented on #652
Ok, I will wait for a fix then. I'll keep enough data alive on my scratch so we can test.

[2020-08-28 08:24] goord commented on #652
I have pushed a fix to the cosp-filter-fix branch

[2020-08-28 08:25] goord commented on #582
Hi Lars, could you make the entire first leg available + initial state file?

[2020-08-28 08:34] nierad commented on #582
HI @goord ,
I have uploaded legs 1 and 2 (1850 & 1851, respectively). I am currently trying to find out, which ini-data Paul has used. I'll get back to you asap.

[2020-08-28 08:40] etiennesky commented on #582
The issue with osm output is it doesn't have the output for the first time step  (which is what I think Gijs means by the initial state file) which ifs produces in the icmgg+000000 file

On August 28, 2020 10:34:29 AM GMT+02:00, nierad <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

http://bsc.es/disclaimer

[2020-08-28 11:53] plesager commented on #652
Trying the new branch, something's broken. I got an encoding error:

[code]

[2020-08-28 13:05] goord commented on #652
Yes I should have seen that coming, annoying grib encoding of pressure levels. I think I fixed that, you can try once more...

[2020-08-28 15:08] plesager commented on #652
Getting there... type error:

[code]

[2020-08-28 19:48] goord commented on #652
Right another stupid mistake, that should be fixed now

[2020-08-31 12:43] plesager commented on #652
It works!

[2020-09-02 07:04] #652 closed

[2020-09-02 11:52] goord commented on #582
Hi Lars, I made some fixes in the filtering in branch ```cosp-filter-fix```, can you test again on your dataset?

[2020-09-07 16:06] plesager opened #653 "Midnight time steps partially missing in all 6hrLev files"
The problem reported here occurs with the CMIP/AerChemMIP/amip experiment. There are other experiments with 6hrLev output, although not AerChemMIP ones. I wonder if somebody else has tried and succeeded to output IFS variables on 6hrLev. In any case here's what I'm facing.

`nctime` reports an error (incorrect time axis) in all cmorized IFS output in 6hrLev. TM5 output in 6hrLev is fine. The full

[2020-09-07 19:04] goord commented on #653
Hi Philippe thanks for the reporting, I suspect my previous 'fast-forward' code to have something to do with this. Could you test this by changing line 534 of grib_filter.py to the following:
[code]
i.e. replace the ```cache``` argument with ```None```, which should disable the fast-forwarding.

[2020-09-08 11:09] plesager commented on #653
That fixes it. Thanks.

[2020-09-08 11:22] nierad commented on #582
Hi Gijs,
there is still an issue with cdo. I uploaded the log-files to
http://stormbringer.nateko.lu.se/public/lars/issue_582/LM02-osm-001-20200908091159*.log

[2020-09-08 13:21] goord commented on #653
Ok I will fix this issue tomorrow

[2020-09-11 09:17] nierad opened #654 "How to handle cmorization of ECE3-Veg v3.3.1.1 output?"
Hi all,

technically, everything is ready to go w.r.t. the upload to ESGF of the global-deforestation run data. But there remains a question:

I used ece2cmor3 v1.2 to cmorize this run because of the non-downward-incompatibility issue in v1.3 item 9 (https://github.com/EC-Earth/ece2cmor3/tree/v1.3.0; ua100, va100, #496).
But, of course, there have been other fixes in later versions, that aren't ta

[2020-09-11 10:11] treerink commented on #654
Hi Lars,

Would it be an idea to keep the `?a100` files from your `ece2cmor3` `v1.2` cmorisation and to redo the rest of the cmorisation with `v1.5` (taking out `?a100` from your json data request file)? And then to move the `?a100` `v1.2` in between the other `v1.5` variables?

[2020-09-11 10:46] nierad commented on #654
Thanks, Thomas.
I just actually checked the data-request and it turns out, ua100 and va100 aren't even requested for these experiments...
I feel a bit silly now, but at that time, when reading the old emails, it looked like you'd go with 1.2 for ECE < 3.3.2 and v1.3 else.
So, sorry for the hassle! I'll redo it with the latest (v1.5).

[2020-09-11 10:46] #654 closed

[2020-09-11 12:54] goord commented on #653
Hi Philippe could you also do a small test with the filter-alevels-fix branch? I have pushed a fix there that doesn't disable the fast-forwarding in the grib files

[2020-09-14 09:14] plesager commented on #653
Your `filter-alevels-fix` branch works, in the sense that the problem reported above disappears.

[2020-09-14 09:39] plesager opened #655 "Amon surface pressure is not processed in AerChemMIP experiments"
Amon/ps on IFS grid has been missing in all my 15 AerChemMIP experiments, despite being requested. For most of these experiments, I am able to compute the monthly ps from either daily or 3hr output where I found the surface pressure. But in 3 experiments (piClim) without daily or sub-daily output, I need a new strategy. I will try and add CFday/ps to the data request as a quick fix.

Despite these

[2020-09-14 10:17] plesager commented on #655
@tommibergman @Declan-FMI @noije
To summarize: `IFS/Amon/ps` is missing, and keeping or removing `TM5/AERmon/ps` does not fix it.

[2020-09-14 10:52] treerink commented on #655
I confirm for a one-case check that indeed `ps` is asked in the basic data request. I checked this one:
[code]

[2020-09-14 12:44] goord commented on #655
Philippe does ifs2cmor say something in the log file about ps in Amon?

[2020-09-14 13:11] plesager commented on #655
Got that from the log:
[code]
Nothing else, besides the usual:
[code]

[2020-09-14 16:45] plesager commented on #655
Just came across this. Cannot tell if this is the same issue. With a simple (only IFS variables) data request like this:
[code]
`ps` is also missing. I only get:
[code]

[2020-09-14 18:03] goord commented on #655
It probably has to do with the fact that the 3D variables need surface pressure as well for cmorization to define the hybrid model levels. This interferes somewhere with the Amon ps task, I will have a look at it tomorrow.

[2020-09-15 07:35] plesager commented on #655
Indeed SP is in these datasets as an additional variable, but no on its own. Which gives me another workaround to get Amon/ps.

[2020-09-18 15:08] nierad commented on #582
Btw: These are the years where there are issues. Maybe it helps when we see when/with which variables it happens:
[code]
Does that maybe ring a bell with someone?

[2020-09-21 16:56] pnolan22 opened #656 ""ScenarioMIP" will be replaced with value "ScenarioMIP AerChemMIP""
Hi.

I receive the below warning when cmorising EC-EARTH-Veg ssp370 data. Other SSPs don't give this warning.

Does this warning look normal? Any feedback would be appreciated.

Thanks.

^[[2;34;47mC Traceback:
In function: _CV_checkExperiment
! called from: cmor_setGblAttr
! called from: cmor_write
! ^[[0m

^[[1;34;47m!!!!!!!!!!!!!!!!!!!!!!!!!
!
! Warning: Your input attribute "activity_id" with

[2020-09-22 06:25] klauswyser commented on #656
That's allright, it's not a bug but a feature! SSP3-7.0 is used not only in ScenarioMIP but also in AerChemMIP, therefore both activities are set in the activity_id.

[2020-09-22 08:30] pnolan22 commented on #656
Thank you Klaus!

[2020-09-24 09:31] treerink opened #657 "The json data request files are not produced by genecec"
The cmip6-data-request-varlist-*.json are not longer produced due to a recent change in argument checking. When running `genecec` for each control output file we have this error in the log:
[code]

Probably the error is introduced in [this commit](https://github.com/EC-Earth/ece2cmor3/commit/6fdf367e51f42aca73ce5a9d1b173295d855f6f0) on July 13 2020 or earlier but after [this commit](https://github

[2020-09-24 14:10] goord commented on #582
Hi Lars can you share the varlist.json you have been using? I see some 'Eday' variables in the log which don't really make sense for monthly model output...

[2020-09-24 14:13] #656 closed

[2020-09-24 14:17] goord commented on #653
Fixed in PR #658

[2020-09-24 14:17] #653 closed

[2020-09-24 14:23] nierad commented on #582
Hi @goord,
I have uploaded it to http://stormbringer.nateko.lu.se/public/lars/issue_582/

[2020-09-24 14:45] goord commented on #582
Hi @nierad I removed all daily fields from the data request locally (you have monthly output so these cannot be produced by ece2cmor3) and with the latest version of the master all variables seem to be cmorized without errors on my system.

[varlist.json.txt](https://github.com/EC-Earth/ece2cmor3/files/5276919/varlist.json.txt)

[2020-09-24 14:52] nierad commented on #582
Sorry, I don't understand. Do you suggest that I run ece2cmor3 without daily data and everything will be fine?

[2020-09-24 15:03] goord commented on #582
The files you uploaded only have a single time stamp per month, so yes I assume they somehow are monthly means, which means ece2cmor3 can only produce monthly from these.

Or is there something I'm missing here?

[2020-09-24 15:09] etiennesky commented on #582
Hi @nierad the files you are using (or at least the files you uploaded) are monthly means produced by the osm_post scripts, not used for the cmorization.

you need to use the raw ICMGG files produced by the OSM runs.

[2020-09-24 15:11] etiennesky commented on #582
please see my comment from last month (sorry for the spelling errors, I think I sent it from my mobile)

You need to cmorize the  raw grib output from the osm which is (almost) identical to its grub output.

[2020-09-24 15:11] goord commented on #582
Aha thanks @etiennesky for clarifying that

[2020-09-24 15:26] nierad commented on #582
Ah, sorry. I have uploaded the wrong files. I didn't know there was extra osm-output. ece2cmor3 wouldn't recognize the file-names, I guess. I am uploading the ICMGG-files right now.

[2020-09-24 18:56] treerink commented on #657
Probably the BUG introduced in [this commit](https://github.com/EC-Earth/ece2cmor3/commit/6fdf367e51f42aca73ce5a9d1b173295d855f6f0) on July 13 2020 can be fixed with:
[code]
Testing it now.

[2020-09-25 07:04] treerink commented on #657
With the 0fc2eae fix, the results of `genecec` are identical again.

So closing this issue.

[2020-09-25 07:04] #657 closed

[2020-09-25 07:24] treerink opened #660 "An innocent OMIP error in the genecec log"
No `ppt` files are found in the `cmip6-output-control-files/OMIP/cmip6-experiment-OMIP-omip1/` directory. This is in agreement with the data request of OMIP in which the `ifs` part is empty:
[code]
which is of course obvious because it is ocean only.

However `genecec` tries to run:
[code]
with an empty `ifs` list,  which gives an innocent crash (everything continues fine). But it might be better

[2020-09-25 07:39] treerink opened #661 "Error in CMIP6 data request for RFMIP-rad-irf?"
No `ppt` files are found in the `cmip6-output-control-files/RFMIP/cmip6-experiment-RFMIP-rad-irf/` directory. This is due to the CMIP6 data request of RFMIP-rad-irf (I checked the xlsx file) which is empty (only four fx variables), and which is reflected in the json data requests being totally empty.
[code]

When `genecec` tries to run:
[code]
with an empty `ifs` list,  it crashes. Also no variabl

[2020-09-25 11:12] treerink opened #662 "Adding a new genecec-like script for one specific (non-standard) experiment."
It turns out that running the underlying  `genecec` scripts manually for some non-standard experiment comes with some risk. The control output files are fairly well produced by the:

- drq2file_def-nemo.py
- drq2ppt.py
- drq2ins.py

scripts, but the trouble catching `genecec` layer is missing. Like handling `msftbarot`, `deptho` & ` transect variables` exceptions.

Therefore a script which does th

[2020-09-25 11:26] treerink commented on #662
The new added script takes a `json data request file` as input (so that means that the preferences (if present in the json data request file which is taken) are then also applied in the "configure of the raw output".

[2020-09-25 11:26] treerink commented on #662
Done

[2020-09-25 11:26] #662 closed

[2020-09-25 11:50] noije commented on #661
All I know is that the "rad-irf" label is associated with the RFMIP-IRF part of RFMIP, which the EC-Earth consortium isn't contributing to.

[2020-09-28 16:08] treerink opened #663 "Insert covidMIP experiments in the cmor tables"
A request has been made (see ec-earth portal issues  #847 & #895) to add six CovidMIP experiments:

-  CovidMIP-ssp245-baseline
- CovidMIP-ssp245-cov-aer
 - CovidMIP-ssp245-cov-fossil
 -  CovidMIP-ssp245-covid
 -  CovidMIP-ssp245-cov-modgreen
 -  CovidMIP-ssp245-cov-strgreen

 In order to be able to cmorise these experiments a script will be added which adds these experiments into the tables in a

[2020-09-28 16:11] treerink commented on #663
In be817f1 the `add-covidMIP-experiments.sh` has been added, which can be run without any argument to insert these experiments in.

NOTE: these changes need further review

[2020-10-01 12:28] treerink commented on #663
Done

[2020-10-06 07:33] nierad commented on #582
Just pushing this issue a bit. People keep asking for the missing data.
Any new ideas?

[2020-10-06 14:43] goord commented on #582
Hi Lars, sorry for the delay, I will continue to work on this tomorrow morning

[2020-10-06 14:44] nierad commented on #582
Thanks a lot, Gijs!

[2020-10-06 16:02] treerink commented on #663
The `add-covidMIP-experiments.sh` script has been updated. Anybody who has used this script before needs to rerun it.

[2020-10-07 07:25] goord commented on #582
Ok I see the files, they're about 0.5GB per month right

[2020-10-07 07:33] nierad commented on #582
Hi Gijs,

yes, exactly.

________________________________
From: Gijs van den Oord <notifications@github.com>
Sent: Wednesday, 7 October 2020 9:25:52 AM
To: EC-Earth/ece2cmor3
Cc: Lars Nieradzik; Mention
Subject: Re: [EC-Earth/ece2cmor3] OSM output cannot be cmorized due to missing spectral files (#582)

Ok I see the files, they're about 0.5GB per month right

—
You are receiving this because you w

[2020-10-07 08:40] goord commented on #582
Hi Lars I have run you setup locally with the latest version of ece2cmor3. It finds 64 ifs variables to cmorize, and dismisses 8 of them:
- cl, clw, cli and pfull (Amon) are skipped because they are model-level variables
- sbl (LImon) is skipped because grib code 44 is missing in the output
- mrsow (Eday) is skipped because grib code 43 is missing in the output
- tasmax and tasmin (day) are missin

[2020-10-07 08:50] etiennesky commented on #582
Hi @goord some more details, these files were produced by the offline version of h-tessel (also called the osm - offline surface model). The raw output is in netcdf, and we used scripts adapted from the ECMWF infrastructure to convert them to the same grib format as ifs outputs. So there might be some quirks in the grib headers which cdo might not process properly

[2020-10-07 08:53] nierad commented on #582
I am currently running this again. If I understand correctly, none of the cmorized files I have listed above (Why is there no Comment-enumeration?) is  missing?
For 1850 these would be:
[code]
Please note, that they exist for all other years.

[2020-10-07 09:02] treerink commented on #663
The additional CovidMIP requests finalized.

[2020-10-07 09:08] treerink commented on #663
Cross linking this issue with the ec-earth portal [issue 847 post 132](https://dev.ec-earth.org/issues/847#note-132) and the [ec-earth wiki](https://dev.ec-earth.org/projects/cmip6/wiki/CovidMIP_experiments).

[2020-10-07 12:17] nierad commented on #582
Hi @goord,
I ran the first three legs for ifs (OSM here) and the result is exactly the same. I uploaded the log files to
http://stormbringer.nateko.lu.se/public/lars/issue_582
[code]
Leg 001 obviously has an issue with cdo setgridtype for several variables that are then missing in the cmorised data.
Leg 002 with cdo and variable dimensions. It crashes incompletely and then idles into wall-clock ti

[2020-10-07 13:11] goord commented on #582
Hi Lars, do you have leg 001_orig next to your 001 leg folder? This messes up the previous-month lookup by ece2cmor3. It seems it's mixing the orig-gribs with the new ones...

Could you move those *_orig elsewhere, outside the directory "ifs"?

[2020-10-07 13:16] nierad commented on #582
Hi Gijs.
Yes, it is there... I suppose, this only explains the leg 001 error, right?
I'll try right now.

[2020-10-07 13:24] goord commented on #582
I don't know, I see also in the log file of leg 2 that it uses the leg1_orig december file. But I don't know whether this is the cause of the broken ts_Amon cmorization there. Could you upload leg 2 too?

[2020-10-07 13:25] nierad commented on #582
It is available on the server.
I'll quickly rerun it, too.

________________________________
From: Gijs van den Oord <notifications@github.com>
Sent: Wednesday, 7 October 2020 3:24:18 PM
To: EC-Earth/ece2cmor3
Cc: Lars Nieradzik; Mention
Subject: Re: [EC-Earth/ece2cmor3] OSM output cannot be cmorized due to missing spectral files (#582)

I don't know, I see also in the log file of leg 2 that it us

[2020-10-07 14:02] nierad commented on #582
Wow! That seems to have been it. I am currently rerunning the whole LM02.
We'll see if LM03 also runs smoothly. I don't know though if there have been different folder in the output/ifs/ directory. I have to retrieve them from an archive.

[2020-10-07 14:10] goord commented on #582
you could check the log-files too. There ece2cmor3 reports which 'previous month' files it has found in the parent directory to get the initial state from

[2020-10-07 14:48] nierad commented on #582
No, it there is nothing like that in the log file. I'll keep you posted when it has gone through.
Btw: Well spotted @goord!!! That wasn't even an error message.

[2020-10-08 08:45] treerink commented on #663
In ef77bd0  the `parent_activity_id` & `parent_experiment_id` in the CovidMIP CMOR table insertions have been corrected. This doubling metadata info has to be in agreement with the metadata template files (now both should be in agreement again).

[2020-10-23 14:27] treerink opened #664 "Add two sets of dynamic RCM forcing variables on dedicated pressure levels"
Up to now the EC-Earth consortium included in a part of their output the CORDEX RCM dynamic forcing variables `ta`, `ua`, `va` & `hus` on model levels. However, this generates a lot of additional raw EC-Earth output volume. In the KNMI'23 dutch climate scenarios a large number of members will be run to force the RCM RACMO. We aim for a workflow in which this RCM will use the cmorised `ta`, `ua`, `

[2020-10-23 14:28] treerink commented on #664
Done in 3dd757a.

[2020-10-23 14:30] treerink commented on #664
So a script has been added which add those variables and coordinates into the CMOR tables. The script is maintenance proof.

[2020-10-25 09:39] plesager opened #665 "Extra variables in AerChemMIP output"
Variables other than the one the file is named after (and not known by CDNOT as to be ignored) are present in the AerChemMIP output. The extraneous variables are: `ap`, `ap_bnds`, `ps`, and `wavelength`. Below is a table (non exhaustive!) summarizing affected output. Note that `gn` are produced by TM5, and `gr` are produced by IFS. The `wavelength` is simply a TM5 by-product and should be removed

[2020-10-25 09:40] plesager commented on #665
The first and most urgent step is to decide if we need to keep these extraneous variables in the cmorized data.

[2020-10-26 16:38] noije commented on #665
I don't think I fully understand what the problem is. As Tommi said 3-D fields need vertical grid information specified by ps, ap, ap_bnds, bp, and bp_bnds.

Why does it complain about ap and ap_bnds, but not bp and bp_bnds?

For the list of "od550" variables the data request says: Needs a comment attribute "wavelength: 550nm". So, in my understanding this should be a comment rather than a dimensi

[2020-10-27 15:45] tommibergman commented on #665
Actually, The optical variables’ dimensions in data request include also lambda550, which, if I recall correctly, is translated to wavelength by cmor library.

[2020-10-27 15:52] noije commented on #665
So, what is the problem then? Do we know how to proceed?

[2020-10-28 07:58] plesager commented on #665
So we have a mismatch between `ece2cmor3` output and what is expected from the ESGF (CDNOT) as checked by NSC. Although it may be possible to add the problematic variables to "the official CDNOT list of variables to ignore if present in the file", I think it is better to try and understand how we got here in the first place.

[2020-10-28 08:24] plesager commented on #665
About the pressure terms. The information is definitively needed for output on model levels, and we provide:
- ap
- b
- ps
- ap_bnds
- b_bnds

Since `b` and `b_bnds` are fine, and `ap` and `ap_bnds` are not, I first suspected incorrect naming and bet they should be called `a`
and `a_bnds`. So I checked an already published file from another model. Its content lists:
- a
- b
- p0
- ps
- a_bnds
- b_

[2020-10-28 08:46] plesager commented on #665
About the wavelength. I've downloaded a published file from the NorESM2 model (od550ss_AERmon_NorESM2-LM_piClim-aer_r1i1p1f1_gn_000101-001012.nc), and got the exact same variable names and attributes as our `od550ss` files:

[code]
There is a comment attribute being more specific than (but including) the recommended "wavelength: 550 nm".
Why has this file been published and ours cannot? Looks like

[2020-10-28 08:56] plesager commented on #665
Yes, it all makes sense. I think our datasets are fine, and the checker used by NSC is not working as it should. If everybody agrees I will ask to publish our data as they are.

[2020-10-28 10:53] treerink commented on #663
As mentioned in [ec-earth portal issue 847-181](https://dev.ec-earth.org/issues/847#note-181) the
[WCRP-CMIP CMIP6_CVs version: 6.2.54.1](https://wcrp-cmip.github.io/CMIP6_CVs/docs/CMIP6_experiment_id.html)
is updated for the official CMIP6 CovidMIP experiments. The CovidMIP experiments indeed became part of DAMIP, so there we are in place. The `experiment` attribute will be made in agreement with

[2020-10-28 10:57] noije commented on #665
Yes, please do so.

[2020-10-28 11:07] treerink commented on #663
The `experiment` & `additional_allowed_model_components` attributes have been updated in the `add-covidMIP-experiments.sh` script so please rerun this script from the `ece2cmor3/ece2cmor3/scripts` directory.

[2020-10-29 12:26] pchengi commented on #665
It's actually not a false positive. The checker does not complain about a, b, a_bnds, and b_bnds because they are already present in the official excludes list. I'm attaching the official list of the excluded variables for your reference.
[excl_cmip6.txt](https://github.com/EC-Earth/ece2cmor3/files/5458276/excl_cmip6.txt)

[2020-10-29 12:28] pchengi commented on #665
I'm not sure if the inline reply above is clear enough; I've attached the list of excluded variables for your reference.

[2020-10-29 12:39] pchengi commented on #665
A bit of background about the problem; the ESGF publication system counts each variable as a file, and all auxiliary variables present in the netcdf files are excluded. If this is not done, ESGF would misreport the number of published datasets in a manner that causes confusion. My check script ensures that this doesn't happen, by checking all of the variables that appear in an ncdump -h output, an

[2020-10-30 07:51] plesager commented on #665
Thanks for providing the excluded variables list. Yes, CDNOT should be contacted to include  `ap`, `ap_bnds`, `ps`, and `wavelength`.

The files I checked yesterday are:
- od550ss_AERmon_NorESM2-LM_piClim-aer_r1i1p1f1_gn_000101-001012.nc, which shows the `wavelength` variable, and was published by the NCC (noresm-ncc@met.no)
- airmass_AERmon_CESM2-WACCM_ssp370SST-lowNTCF_r1i1p1f1_gn_201501-205512.

[2020-10-30 18:21] pchengi commented on #665
The variables have been added to the official exclude_variable list now. Will proceed with data publication now!

[2020-11-02 07:46] plesager commented on #665
Perfect. Thanks.

[2020-11-02 07:46] #665 closed

[2020-11-05 14:28] treerink opened #666 "Update the nested CMOR tables for their updates: adding the CovidMIP experiments"
In #663 we manually added the CovidMIP experiments in the CMOR tables. However, the tables have been updated now and include the CovidMIP experiments.

However as many of us are in the middle of the production of the CovidMIP results AND because updating the CMOR tables can not be done in a branch (if one does, the master will see the update as well, this is due to the nested CMOR table repository

[2020-11-05 14:33] klauswyser commented on #666
As long as EC-Earth3 is not participating in DAMIP we cannot publish the data anyway. I have asked Shuting to take the necessary steps for adding EC-Earth3 to DAMIP, this will then make another update of the tables necessary.

[2020-11-05 15:21] treerink commented on #666
I have checked the CMOR table CovidMIP changes with our own added insertions for all of the CovidMIP experiments in which the EC-Earth consortium participates and fortunately they are 'bitwise' identical. So in principle this makes updating / replacing easy.

However, as they are identical, for the metadata this will be all the same. I though there is a CMOR table version in the metadata, but I a

[2020-11-05 15:30] klauswyser commented on #666
I am not sure if there is or will be a new data request for the CovidMIP experiments as it was always said "use the same data request as for ScenarioMIP ssp245." But the CMOR table version should be updated of course, I guess that's attribute ``table_info``, or?

[2020-11-05 15:38] treerink commented on #666
I think so, but I am not 1000% sure, and I am just not sure if when this `table_info` somehow not fully matches if this leads to trouble with these ESGF checks, maybe not and then we are making life unnecessary complicated. By the way if it is only this `table_info` we could pick it from the update later and in a late phase just before publishing change it with `cmor-fixer.`

[2020-11-05 17:21] treerink commented on #666
They are updated but please note ec-earth portal post [847-194](https://dev.ec-earth.org/issues/847#note-194).

[2020-11-06 13:43] treerink opened #667 "Add the requested fx variables to the cmorisation"
The `fx` variables are not present in the normal json data request files. They are already excepted at the level of `drq2ppt`. We want to change this, such all goes mainstream.

[2020-11-09 08:30] treerink commented on #663
The EC-Earth local insertions can now be replaced by the CMOR table updates which match with the added CovidMIP experiments as part of DAMIP in the new CMIP6 data request release `01.00.33.`

[2020-11-09 08:31] treerink opened #668 "Update for CMIP6 data request 01.00.33"
The data request version 01.00.33 has been released, which includes the CovidMIP requests (note we have already fixed our EC-Earth CovidMIP data request: CMIP + a few additions.

This issue is also related to #663 and #666.

[2020-11-09 12:00] treerink commented on #668
After a local update to data request 01.00.33 I get an warning which I can't remember I have seen before:
[code]

I have sent a mail to Martin Juckes.

[2020-11-09 12:28] treerink commented on #666
With the new release of the data request 01.00.33 (see #668), I expect another update of the CMOR tables. Currently their headers  say that they are still based on 01.00.32. Usually it takes a bit of time before the CMOR tables are updated for the latest data request version, so waiting for that.

[2020-11-12 10:51] krumit opened #669 "Impossible to CMORize msftyz and hfbasin from ORCA025 (that is EC-Earth3-HR)"
Hi!

I am trying to cmorize the output of the EC-Earth3-HR decadal hindcasts that we have produced at SMHI.
Now I am facing problems regarding the NEMO-output (CMORization of IFS works fine), that means data produced on the ORCA025L75-grid.

I used output-control-files/DCPP/cmip6-experiment-DCPP-dcppA-hindcast/cmip6-data-request-varlist-DCPP-dcppA-hindcast-EC-EARTH-AOGCM.json (with minor modificat

[2020-11-13 14:43] treerink commented on #664
Solving in cee884a problems with regridding `6hrPlevPt` `tos` (inserted for dynamical RCM forcing). Now a land masked regridding is uesd. Also the Kelvin to degC conversion is applied to be cmor conform.

[2020-11-13 17:23] treerink opened #670 "DynvarMIP specific variables"
This issue is related to [ec-earth portal issue 898](https://dev.ec-earth.org/issues/898).

For some zonal mean (wave atmos TEM) variables Federico Serva has written a python script to compute these results. See [issue 1](https://github.com/fserva/tem-diag/issues/1) in that repository.

What is needed here, is that `ece2cmor` allows an option in which a (python) script is called instead of the cal

[2020-11-13 17:26] treerink commented on #670
As a start @goord will investigate in which way such an interface can be created. So in a branch we will just try to create this kind of infrastructure and as a test we take a little script which just does the same cdo as which is used currently.

[2020-11-13 17:36] fserva commented on #670
Hi, as noted in the other script, this applied to:
 - EmonZ: epfy, epfz, vtem, wtem, utendepfd (5)
 - EdayZ: those in EmonZ + utendvtem, utendwtem, psitem (5 + 3)

The variables in table 126 (from 120 to 132) are tendencies, and as such they should be in ACCUMFLD in grib_codes.json (I guess)

[2020-11-13 17:42] fserva commented on #670
Another point is that in cdoapi.py I don't see: zonmean, enlarge, mul, sub, griddes (with txt in output).

`nco` is not available in the ece2cmor3 environment right?

[2020-11-16 14:27] treerink commented on #670
@fserva we have been looking into one of the examples: [`EmonZ` `utendepfd`](http://clipc-services.ceda.ac.uk/dreq/u/feeaf438-96ec-11e6-b81e-c9e268aff03a.html) and as you can see the data request asks this variable on 39 pressure levels `(plev39).` The `plev39` coordinate from the table looks like:

[code]
So what is actually the reason that you request this variable on model levels and not direct

[2020-11-16 14:33] fserva commented on #670
Hi, the 8 variables mentioned here are not available as model output. They need to be computed offline, but this requires computing vertical derivatives. Since increased vertical resolution reduces the numerical error, all 91 levels are used for the computation. Then subsampling of these variables needs to be done. I understand `genecec` would not be needed in this case right?

[2020-11-16 14:35] fserva commented on #670
The variables defined in table 126 are instead requested on the reduced set of pressure levels you are referring to.

[2020-11-19 14:12] pabretonniere commented on #669
I confirm I have the same issue with msftyz for ORCA025.

[2020-11-19 14:37] goord commented on #669
First of all, it seems as if the log message confuses the grid name and its shape...

For debugging it would be useful if you can post the output directory of a single NEMO-leg, because the file names contain the grid identifications. It may be that we are missing some vertex bound definitions files on the b2share data store...

[2020-11-19 15:20] krumit commented on #669
There you go, the content of a single-leg output directory:
[code]
Thank you for digging into this!

[2020-11-19 19:27] treerink opened #671 "Land masked IFS variables require masked regridding"
See also [ec-earth issue 922](https://dev.ec-earth.org/issues/922).

While working on #664 we discovered that land/soil IFS variables which (often or always) have a land mask, require masked regridding. The masked regridding for these variables is possible, but was not implemented in `ece2cmor3` until now. This means that many or all coastal points for these variables have incorrect values, as par

[2020-11-19 19:42] treerink commented on #671
The list of `ifspar.json` variables which have a land mask:
[code]

[2020-11-19 20:06] etiennesky commented on #671
I think you are forgetting lai, this is quite important if you want to compute a global mean 0 values over the ocean will dillute the mean.  Or maybe I misunderstand what you mean?

[2020-11-19 20:39] treerink commented on #671
I checked that `lai` is provided by `lpjg,` so that is not part of this issue.

[2020-11-20 10:57] goord commented on #669
@treerink can you elaborate on what these vert_sum and zoom_sum files are supposed to contain? The grids seem to be the ordinary T-grid...

[2020-11-20 11:21] goord commented on #669
@krumit and @pabretonniere can you confirm that the grid in `*_opa_vert_sum.nc`, `*_opa_zoom_(2000|300|700)_sum.nc` is identically the T-grid?

[2020-11-20 11:22] treerink commented on #669
[code]

[2020-11-20 11:27] krumit commented on #669
These files contain vertical averages of `thetaot` (only one variable per file) over the full ocean water column, or only the uppermost 2000m, 300m, or 700m, respectively.
See two examples:
[code]
and
[code]
These averages of thetaot are basically proportional to pocean heat content and that's why they are of interest. They are used to produce the CMORized variables `thetaot`, `theatot300`, `theta

[2020-11-20 11:37] goord commented on #669
ok, I'm still a bit confused as to why these fields can't be just part of the `opa_grid_T_2D.nc` file, but I have added them to the fields that will retrieve the cell bounds from the T-grid in the downloaded files.

For the basin files I assume that XIOS produces the zonal means after interpolation and the midpoints of the latitudes in the output actually represent the 'zone bounds' faithfully?

[2020-11-20 11:44] goord commented on #669
I suspect the problem with the zonal means in the basins originates from this piece of code (line 657 of nemo2cmor):

[code]

[2020-11-20 11:47] goord commented on #669
@krumit I don;t have access to ORCA025 zonal grid, could you make one available to be? You can also post the list of latitudes so I can write a test in ece2cmor3

[2020-11-20 11:47] treerink commented on #669
@goord it reminds me to commit b218737fa2cb10a7459c635f9bccf20c7c170559 https://github.com/EC-Earth/ece2cmor3/commit/b218737fa2cb10a7459c635f9bccf20c7c170559. I had to make exceptions, later you replaced it by a nicer   select of cases.

[2020-11-20 11:50] goord commented on #669
Right we have missed these zoom/vert_sum grids and for those we are still using the wrong cell bounds.

The problem with the basin files (zonal means) is a different issue, and I suspect it has to do with the precision of the latitudes in the netcdf files for the ORCA025 grid

[2020-11-20 14:07] krumit commented on #669
goord wrote:

But CMORization of these variables works. To be honest, I didn't check the outcome carefully if everything is correct. But ece2cmor is at least not complaining about it.

@goord I put the two files
[code]
on our server under

`http://exporter.nsc.liu.se/ef08da663bde42c28c53974ececd820e`

Is that sufficient for your needs?

[2020-11-20 14:13] krumit commented on #669
goord wrote:

I found some reports about similar problems with CMOR in the web pointing in this direction, too.
But the error messages above, complaining about non-monotonic axes seem rather indicating that it is not about the precision but how our grid information is sent to CMOR which requires monotonic order it seems.
Sorry, if this is a stupid comment, I have no experience with the actual sour

[2020-11-20 14:18] goord commented on #669
@krumit ths error messages from the cmor library are always a bit difficult to read. The library requires for a 1-d zonal grid bounds a 2-dimensional array `latbnds[2,:]` with the first row the lower bounds and second row upper bounds. I downloaded your files and will check whether our calculation achieves acceptable bounds.

[2020-11-20 14:19] krumit commented on #669
@goord Great, thanks!

[2020-11-20 14:29] goord commented on #669
If you ncdump the latitude co-ordinate in the nc files you see the origin of the problem:
[code]
again the last latitude is not larger that the previous one. I suspect this is a bug in the remapping of the NEMO grid to latitudes. I can fix it in ece2cmor3

[2020-11-20 14:33] goord commented on #669
...but I'm not entirely sure what the last latitude should be...

[2020-11-20 14:39] goord commented on #669
As we can see from the data, the 'dirty hack' is not applied because the last latitude is actually _smaller_ then its predecessor. I have will modify the code to repair this situation too, but note that this remains a somewhat arbitrary fix: the reported latitudes are not equidistant and the assumption that the difference can be extrapolated is only an approximation

[2020-11-20 14:50] goord commented on #669
Fix in 0514ec867d407dc90a261021ce8ae90f1bded003

Nevertheless it would be preferable to have a look at the XIOS-interpolated zonal grid, and while we're at it, try to create a netcdf file with its cell bounds, in line with the cell bounds of the other grids.

[2020-11-20 14:53] krumit commented on #669
@ggord Just to make sure I get you right: This last latitude is essentially wrong and probably introduced by XIOS?

[2020-11-20 15:00] goord commented on #669
@krumit Yes, I am suspicious of both last and before-last latitudes listed in the file. I assume these fields have been computed with XIOS, since calculated zonal means is typically functionality covered by the IO server. I do wonder though where the latitudes actually come from and whether the interpolation  takes into account the skewed native ORCA grid.

[2020-11-20 15:25] krumit commented on #669
@goord I see. Yes, this should have been done by XIOS. However, I am afraid I have no idea how that actually works...
I asked @klauswyser and @uwefladrich to have a look on this issue, too. Maybe they have further insights/ideas.

[2020-11-23 11:39] krumit commented on #669
@goord It seems that your fix did not completely solve the problem. Independent of the potential issue with XIOS, I just tried to CMORize my output with the latest commit eaf3cc06d5a431b6b4b79347cf01e7bc171adcca expecting that it should work even if we have the suspicion that the last two latitudes are not entirely OK.
The outcome is that I get less error messages but one still exists. The log-fil

[2020-11-23 11:50] krumit commented on #669
It seems as if the fix now assigns the same value for the last and second-last latitude but CMOR still complains about this.

[2020-11-23 15:38] treerink commented on #671
Accidentally I mentioned the wrong issue in three commit messages (therefore the commits were not auto attached to this issue):
- Masking the tsl4sl regridding #664 & #671 d8601ff167778ec18769e36033f6f42025fa0b1c
- Masking the mrsol regridding #664 & #671 6cbb9c04191a435d7434ec2441461a60e133af06
- Masking the siconca regridding #664 & #671 4daf09aac182e961ba944ca5c0b4440d38cbab12

[2020-11-23 17:13] treerink commented on #666
The latest CMOR tables are now compatible with data request 01.00.33 according to their headers. In edfae8c I have updated our nested CMOR tables which allows to make the change to `drq`  `01.00.33` in #668.

[2020-11-24 16:04] krumit commented on #669
@goord Please correct me if I am wrong but the current form of the fix:
`input_lats[-1, 0] = input_lats[-1, 0] + (input_lats[-2, 0] - input_lats[-3, 0])`
implicetly assumes that the last latitude shows the same value as the second last. In this case it makes sense to take the value of the last latitude and add the increment `(input_lats[-2, 0] - input_lats[-3, 0])`. But that doesn't work in this c

[2020-11-24 16:28] goord commented on #669
Hi @krumit sorry you're absolutely right, I was too soon with my 'fix'... Your suggestion has been pushed to the master branch

[2020-11-25 08:12] treerink opened #672 "Unexpected addition of tos in ppt files"
As a consequence of #664, after the addition of `tos` to the `ifspar.json` in 449fbbe2fb3b6a4efd15ff7329645ccbc674cb3e & cee884a88e7a7eb560d9ffc9bc16970a123b0423 I face a weird behavior with `genecec` during the attempt to upgrade to the latest CMIP data request version 01.00.33 (see #668): With `tos` in the `ifspar.json` I get the `tos` grib code `34` (`34.128`) in the ppt files, without not. Wit

[2020-11-25 08:30] goord commented on #672
Hi @treerink I believe drq2ppt does not check the grid of variables, it just matches tos and adds grib code 34

[2020-11-25 14:02] krumit commented on #669
@goord Great, I just ran a test and it works without problems now. Hence this issue here can be closed. We will still have to discuss the problem with the raw output (coming from XIOS) and analyze if the latitudes given there are correct and if not, what's going wrong. This will be continued in https://dev.ec-earth.org/issues/918
Thank you!

[2020-11-25 14:10] #669 closed

[2020-11-25 15:07] treerink commented on #672
Ok I see. It confused me because the addition of `siconca` did not do this. But probably `siconc` & `siconca` are nicely separated. So either I need to make a `tos` realm check hack in `drq2ppt` or I have to adjust the `add-variables-with-pressure-levels-for-rcm-forcing.sh` script and change `6hrPlevPt` `tos` into `6hrPlevPt` `tosa`, so also `tos` in the `ifspar.json` can be changed in `tosa`, cir

[2020-11-26 07:53] treerink commented on #672
The `tosa` strategy works. With 757d7af the default situation is back to normal. Thus closing this issue.

[2020-11-26 07:53] #672 closed

[2020-11-26 07:56] treerink commented on #668
After solving #672 this one can be closed as well. Both `ece2cmor3` & `genecec` work with CMIP6 data request 01.00.33 as expected now.

[2020-11-26 07:56] #668 closed

[2020-11-26 08:27] treerink opened #673 "Adding the CovidMIP control output production to the general genecec script"
The production of the CovidMIP control output files needs still to be added to the general overarching `genecec` script. Currently its production is done by running one of the options of the `./genecec-for-one-experiment-based-on-json-data-request-file.sh` script for each CovidMIP experiment:
[code]

[2020-11-26 08:29] treerink commented on #666
Alternatively, because #668 is solved, the production of the CovidMIP control output directories and the cmorisation of the CovidMIP experiments, can be done now as well with the current latest master, i.e. without running the `./add-covidMIP-experiments.sh` script when using the updated CMOR tables. In case one decides to uses the latest CMOR tables but one has applied the  `./add-covidMIP-experi

[2020-11-26 08:29] #666 closed

[2020-11-27 10:47] treerink opened #675 "Unidentified fx variables, after enabling fx variables"
After enabling the three `fx` variables `orog`, `areacella` & `sftlf` in #667, the identification check with:
[code]
gives now a few unidentified variables. They have been missed because the identification also uses the ece2cmor framework in which fx was disabled.

The new missing ones are:
[code]

Further, but correctly, we have:

One new missing identified one is:
[code]

And the new available o

[2020-11-27 13:26] treerink opened #676 "Quality check for newly added cmorised fx sftlf"
With #674 `fx` `sftlf`, the _Percentage of the Grid Cell Occupied by Land (in %)_,  has been added to the cmorisation. In the current implementation this field is not masked regridded as can be seen from the `ifspar.json` has for `sftlf`:
[code]
The cmor table does not ask for masking (see at the bottom of this post), which in principle seems correct to me for such a variable. However, the unmaske

[2020-11-27 14:19] goord commented on #676
Am I understanding correctly that Uwe's script interpolates the NEMO mask to sftlf?

[2020-11-27 14:53] treerink commented on #667
The changes in the control output files have been committed in the ec-earth repository in the `r8018-control-output-files` branch (see poral issue [895-35](https://dev.ec-earth.org/issues/895#note-35)).

[2020-11-27 14:53] #667 closed

[2020-12-01 12:11] treerink commented on #542
Latest tests (see https://dev.ec-earth.org/issues/895#note-36) are still in agreement with the posts above.

Reminder for next test: my local `compare-cmorise-test-all-case.sh` script, facilitates this comparison work.

[2020-12-02 15:32] treerink opened #678 "Addition of a basic compact request"
In order to efficiently run a spin-up or piControl run a basic compact data request is convenient. It reduces raw EC-Earth output and thus disk volume resources, it reduces cmorisation time, it reduces disk volume resources for the cmorised part. And EC-Earth is running significantly faster.

[2020-12-02 15:36] treerink commented on #678
With this request 20 SYPD can be achieved for the AOGCM on standard resolution. Cmorised output is 2.5 GB per year (IFS+NEMO). Raw total output is 41 GB per year, where: raw IFS output is 38 GB per year. and raw NEMO output is 3.8 GB per year.

[2020-12-03 11:13] fserva commented on #670
Hello, I just noticed something with the units of the wind tendencies that should be computed offline.

In https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_EdayZ.json, for example utendvtem, it reports:
[code]
and same here http://clipc-services.ceda.ac.uk/dreq/01.00.21/u/DynVar.html.

However, the reference paper for this MIP asks for units m s-2, as in most cases I suppose.

T

[2020-12-03 12:35] treerink commented on #670
I have merged the master into the `dynvar-tem-script` branch and had to resolve two conflicts: one in the `ifspar.json` and one in the the `taskloader.py`.

@goord can you review the merged code below in the  `taskloader.py`:
[code]
I wondered whether the recently introduced masks (for the automatic masked regridding for masked fields) needs any further connection with the load scripts. I actually

[2020-12-03 13:46] goord commented on #670
@fserva, your script will have to output the velocity tendencies in m/s/d, since that is the unit ec2cmor3 will attach to the variable

[2020-12-03 13:48] goord commented on #670
Fixed the merged changes in rev. 97f2cf6bb7c6544de5b6c60da7b54e5c0414293a

[2020-12-03 14:04] fserva commented on #670
I will change the units then. However this looks strange since for example `utendepfd` is `m s-2` while only these two variables are `m s-1 d-1`, which would complicate combining them. Thanks for the tip

[2020-12-03 19:13] goord commented on #670
Hi @fserva I have committed a dummy script ``make_dynvars.sh`` in the scripts directory of the ``dynvar-tem-script`` branch. This script is called from ece2cmor3 because it has been referenced in the file ``ifspar.json``:
[code]
You can test your script by changing the ``src`` field above by the name of your wrapper script. To run, make sure your script is in your ``PATH``. Then you can add all th

[2020-12-04 09:28] fserva commented on #670
Thanks a lot, I will check this. I imagine that other variables should be 'sourced' sequentially, like 216.129 ... up to 220.129 or something like that. In case I will make a PR if I manage

[2020-12-04 09:33] goord commented on #670
right, you need to 'invent' unused grib codes for these new derived variables

[2020-12-04 15:19] nierad opened #680 "Request to add experiments to genecec"
Hi,

it would be great if the following experiments could be added to genecec:

LUMIP        land-cClim                        tier-2  historical land-only constant climate
LUMIP        land-cCO2                        tier-2  historical land-only constant CO2
LUMIP        land-noShiftCultivate        tier-2  historical land-only with shifting cultivation turned off

Thanks a lot,
Lars

[2020-12-04 15:38] treerink commented on #680
Ok, I will add these three tier 2 LUMIP experiments with an exception to `genecec` and add them to the control output files in the current branch for that in the ec-earth repository. But earliest next week ;)

[2020-12-05 10:02] klauswyser commented on #671
Sorry for coming in late in the discussion. I am a little bit puzzled about the "masked regridding" of IFS variables. The raw IFS output is on a reduced Gauss grid, and this is then mapped to a regular Gauss grid with ``cdo setgridtype,regular ...``. Where can you add the mask infromation in that cdo command?

[2020-12-05 12:43] goord commented on #671
We divide the variable first by the mask expression , e.g. ```(var172 >= 0.5)``` which evaluates to 1 on land and 0 on sea points. This makes the sea points on the reduced grid truly masked for cdo, not zero. The regridding then discards these values, and we avoid artifacts along coast lines. So we alter the variable expression before applying regridding

[2020-12-06 09:01] etiennesky commented on #671
Am I wrong in my understanding that all  lpjg output is also affected by this bug, because the non-land points all have values of 0 and the "cdo remapycon" remapping produces wrong values over the coastline, since there is no masking done  ?

[2020-12-06 15:12] klauswyser commented on #671
Thanks @goord for the explanation. Pretty dangerous to divide by 0 to get missing values in my humble opinion. Another point: are we sure that ``setgridtype,regular`` works well along the coastline when some gridpoints of the *regular* grid fall between a land and an ocean point? Will all these points receive valid values because one of the neighbouring points on the reduced grids is valid? In tha

[2020-12-08 13:01] goord opened #681 "Tests have stopped running: TravisCI service has ended"
TravisCI is no longer providing automatic testing infrastructure, which means no more automated testing. We can switch to gitlab but that will mean migrating the entire repository

[2020-12-08 19:58] uwefladrich commented on #676
Hi @goord ,
I have been taking the `A128.msk` (or corresponding for other resolutions) variable from the OASIS `masks.nc` file and interpolate to a regular grid to produce `sftlf`. `A128.msk` is the land mask (only 0 or 1 values) without lakes. The reasoning was that IFS considers a cell as land whenever `lsm` (172.128) is >0.5.

[2020-12-09 12:11] treerink commented on #680
Hi Lars, I would have done it already, but my laptop has crashed an excellent combi with the current circumstances. I will be delayed a bit, but I will try.

[2020-12-09 13:16] treerink opened #682 "Cmorising the cordex model-level output"
- Add some description about how to cmorise the model-level output for the RCM forcing at the ece2cmor3 wiki and/or the ec-earth portal
- Add some volume numbers as info at that wiki(s)
- Add a json data request file for this
- Discuss status & quality in this issue here

[2020-12-09 22:57] goord commented on #676
Hi @uwefladrich our implementation uses exactly 172.128 to produce the variable, so I don't see where the differences near the coasts come from. In any case @treerink this variable shouldn't be masked or have a special 'masked interpolation' because it is the very definition of the lsm

[2020-12-11 14:22] treerink commented on #680
The three tier 2 LUMIP experiments:

- land-cClim tier-2 historical land-only constant climate
- land-cCO2 tier-2 historical land-only constant CO2
- land-noShiftCultivate tier-2 historical land-only with shifting cultivation turned off

have been added to genecec and their control output files directories are added in the `r8018-control-output-files` branch (see ec-earth issue [895-38](https://de

[2020-12-11 14:22] #680 closed

[2020-12-12 13:22] treerink commented on #682
A weird thing is that though I specify the `6hrLev` `ps` in the json data request file, `ps` is not separately cmorised but it is included in all the files with the other `6hrLev` variables. I thirst thought that this is the case because it is seen as a coordinate, but I can't see that from the `CMIP6_6hrLev.json`. @goord any idea?

[2020-12-13 21:03] treerink commented on #671
The division is what we found as cdo recommendation for masked regridding.

See updates -the diff figures- on the  [ec-earth issue 922](https://dev.ec-earth.org/issues/922).

[2020-12-13 21:08] treerink commented on #671
If we fear a similar bug in the LPJG land masked regridding in the cmorisation, please open a separate issue for that.

Closing this one.

[2020-12-13 21:08] #671 closed

[2020-12-13 21:13] treerink commented on #663
It is no longer necessary to insert the CovidMIP adjustments with the `add-variables-with-pressure-levels-for-rcm-forcing.sh` with the latest `ece2cmor3` master, because the CovidMIP experiments are part of the current tables which match with data request `01.00.33`.

[2020-12-13 21:13] #663 closed

[2020-12-13 21:23] treerink opened #683 "Pre-release"
Because the current master includes rather relevant changes like addressing #671, #663, #666, #668  a pre-release makes sense.

[2020-12-13 21:34] treerink commented on #683
See https://github.com/EC-Earth/ece2cmor3/releases/tag/v1.6.0

Done.

[2020-12-13 21:48] treerink commented on #683
I made a release error, I forgot to commit the release version in the code. A next pre-release will be made with v1.6.1.

[2020-12-13 21:58] treerink commented on #683
Fixed by a `v1.6.1` release: https://github.com/EC-Earth/ece2cmor3/releases/tag/v1.6.1

[2020-12-13 21:58] #683 closed

[2020-12-14 08:42] klauswyser commented on #682
Could it be a feature of the CMOR library to always include ``ps`` in all model level output? It would make sense because model level output without ``ps`` is rather useless.

[2020-12-14 08:51] goord commented on #682
Hi @treerink, @sager, @klauswyser  the surface pressure is always included in model-level variables because it is required to interpret the hybrid model levels. ``ece2cmor3`` currently has a somewhat hacky solution to include ``ps`` as a separate 'fake' variable, even if it isn't explicitly in the request. This is also the cause of issue #655

[2020-12-14 08:54] treerink commented on #682
Yes that was what I was thinking, but do you expect in that case to see nothing of `ps` (as coordinate or associate coordinate) in e.g. in the table for `6hrLev` `hus`? According to Erik there where a few attributes missing as well, I have to check that still.

[2020-12-14 08:58] goord commented on #682
Ah ok, so this issue is actually identical to #655 : if ``ps`` is requested, it is not cmorized when model level variables are present. In this case the surface pressure should be both in all model level variable files and in a separate file with the correct metadata. But because of the bug #655 the latter doesn't get produced

[2020-12-14 09:34] goord commented on #682
Hi @treerink I pushed (hopefully) a fix to the branch ``missing-ps-fix``. Can you do 2 tests: (i) the normal data request, including ``ps`` and (ii) a manually modified drq where you remove ``ps`` from the ``varlist``?

[2020-12-14 13:10] uwefladrich commented on #676
@goord , yes, I was basically confirming that we are using the same variable.
However, do I understand correctly that the cmorisation of `sftlf` uses the values of `lsm` (172) after interpolating at regridding? That is not what I do, I am converting `lsm` to 0/1 values first, because IFS does not have fractional land.
Or am I missing something else?

[2020-12-17 17:31] fserva commented on #670
Hello, I am testing this and I have two questions @goord.

First, as far as I understand 'external' scripts are to be found in ece2cmor3/scripts/. Can they also be nested there, i.e. can I have a folder (of a certain repository) and the scripts inside that?
Secondly, it seems I cannot push a remote branch on ece2cmor3. Is there another way I could share my changes? Thanks a lot

[2020-12-18 08:29] treerink commented on #670
Yes you can make a dynvar-scripts dir in the scripts dir in your branch

I will have a look what your permissions are.

[2020-12-18 08:39] treerink commented on #670
I have sent you a member invitation, you probably first have to confirm by clicking some identification link I guess.

[2020-12-18 09:10] goord commented on #670
Hi @fserva it's not necessary to add you script to the repo, if you can add it to your ``PATH`` before launching ``ece2cmor3``, than it should be found automatically.

[2020-12-18 09:15] fserva commented on #670
Right, you already told me about this! Thanks for the reminder.

[2020-12-18 09:16] goord commented on #670
We should think about documenting this appropriately for others BTW

[2020-12-18 09:33] fserva commented on #670
Absolutely, I am taking a note in my script but perhaps this could be reported in the README file also here

[2020-12-18 12:00] fserva commented on #670
It seems `nco` was not added yet in the environment. Should this be done?

[2020-12-21 11:43] fserva commented on #670
Hello, I have implemented the changes in my local branch https://github.com/EC-Earth/ece2cmor3/commit/0abb5972999608a51304c5f22b752f05c4aabec7.

The external scripts works correctly after adding the `PATH` and `PYTHONPATH` in the platform. I need now to understand how it can be called through ece2cmor3, and how to pass arguments (exp name, directories, variable names, CMOR tables and so on)

[2020-12-24 14:20] fserva commented on #670
Another update: the variables in the model output files appear to be correctly cmorized.

For those to be produced offline, I am having errors like `ERROR:ece2cmor3.taskloader: Variable psitem in table EdayZ is not supported by ifs in
 ece2cmor3; if you do expect an ec-earth output variable here, please create an issue or pull request on
our github page`.

I guess I should edit the `list-of-identi

[2020-12-24 15:34] fserva commented on #670
I notice that the variables are listed in `list-of-ignored-cmpi6-requested-variables.xlsx` so maybe these are filtered; on the other hand, `utendnogw` is in the same excel but it is cmorized correctly.

[2020-12-25 19:39] goord commented on #670
Hi @fserva, yes your variables should be removed from the ignored/identified missing excel files, these are checked by ece2cmor.

Merry Christmas

[2020-12-26 09:17] fserva commented on #670
Thanks @goord I will check this. I was confused by the fact that some variables were processed despite being in the xlsx.

Happy holidays to you!

[2020-12-26 18:03] fserva commented on #670
While testing (after doing a `setup.py install`) I am having these kind of errors:
- `2020-12-26 17:52:32 ERROR:ece2cmor3.ifs2cmor: Could not find post-processing script None in ifspar.json,
dismissing variable tntc in table EmonZ ` ( same for a lot of variables)
- `2020-12-26 17:52:37 ERROR:ece2cmor3.ifs2cmor: Error in calling script /perm/ms/it/cc1f/ecearth3/post/tem-
diag/make_dynvars.sh: None`

[2021-01-04 21:04] goord commented on #670
Hi @fserva, best wishes to you. I pushed a fix of the typo causing the first error message. I also improved the error handling, so I hope the message from your second error is more useful

[2021-01-05 10:37] fserva commented on #670
Hello @goord happy new year to you! I have commented your commit, it seems the problem is with the external script not getting the required parameters. I also think the wrong (`GG`) file is passed instead of the `SH` one.

[2021-01-05 21:25] goord commented on #681
Switched to pytest/github actions

[2021-01-05 21:25] #681 closed

[2021-01-07 11:07] fserva commented on #670
Hello @goord and @treerink, an update on the integration of the external script. Now the execution works well and a set of files are produced. But there is a problem related I think with the timing of the execution.

The production of derived variables requires ~50min/month, while the cmorization of basic variables is faster (total ~3-4 hours). It seems that ece2cmor did not wait for the external

[2021-01-07 11:30] goord commented on #670
Hi @fserva you mean the working directory is removed before your script has finished? I will have a look at it in the evening. In the meantime, you can disable the cleanup by defining the environment variable ``export ECE2CMOR3_IFS_CLEANUP=FALSE`` before you launch ece2cmor.

[2021-01-07 11:33] fserva commented on #670
Hi @goord no the working directory is left untouched since non-empty (I've pasted the log now), but ece2cmor finishes the execution without waiting for the slow processing still ongoing. I don't think the lack of `SH` files is the problem since the `data` folder and links are still there.

I guess ece2cmor stops the child process when other variables are done

[2021-01-07 11:39] goord commented on #670
Hi @fserva I had a quick look at the code and I think somehow your script has failed after a few months of processing. After your script is finished, ``ece2cmor3`` will proceed to cmorize the ``nc`` files you have created, but it can't find those. However, ``ec2cmor3`` will always wait for your script to return because it invokes it via ``subprocess.check_output`` (see line 306 of ``ifs2cmor.py``)

[2021-01-07 11:39] fserva commented on #670
Maybe that `shell=True` can cause this behaviour (just guessing here)? https://stackoverflow.com/questions/36169571/python-subprocess-check-call-vs-check-output

[2021-01-07 11:43] fserva commented on #670
No the `/scratch/ms/it/cc1f/tmp_cmor/t4cv_1850_10290/ifs_1850/CMIP6/t4cv-ifs-1850/make_dynvars-work/utendvtem_EdayZ.nc` is not produced since that would be generated by concatenating the outputs of month 1 to 12 by a `cdo mergetime` at the very end of `make_dynvarsh.sh`. The problem is that only 5 months and a bit are processed so these files names `variable_table.nc` are yet to appear.

[2021-01-07 11:46] goord commented on #670
Does your script launch child processes (via the ``&`` in bash or subprocess/multiprocess in python)?

Have you tried executing the script outside of ``ece2cmor``, by just passing the arguments yourself?

[2021-01-07 11:48] fserva commented on #670
No, no child processes I think. Only an executable python script which I added to `PYTHONPATH` as suggested. Yes I have tested days ago and I did not make big changes since then. I will test again just to be sure...

[2021-01-07 11:59] goord commented on #670
Because the process seems to end in the 6th month (not the first), I don't think there is any fundamental flaw with the subprocess call. It could e.g. be that cdo crashes with a zero status code (this shouldn't happen, but you never know with cdo), making ``ece2cmor3`` think that the script execution was ok.

I can also recommend putting debug echo statements between all cdo calls.

[2021-01-07 12:06] fserva commented on #670
Ok I will make another attempt to see if cdo is silently exiting. I've set the verbose mode for the script but there is no information there.  It will take some hours, thanks for now

[2021-01-07 12:14] goord commented on #670
From your output above I suspect something goes wrong in the ml2plx call for variable 130. This could be also unsufficient memory or disk space. Are you submitting to the parallel queue with a full node at your disposal?

[2021-01-07 12:20] fserva commented on #670
Running on the fractional one (`nf`) and now I also take care of removing the big grib/netCDF files which may take too much space. However my `$SCRATCH` should have enough space. Indeed it may also be the system to kill the process for some reason

[2021-01-07 12:41] goord commented on #670
Also you could comment out all the removals of intermediate files in the script, to get a better idea where things go bad.

Another idea is to remove the 'regular' variables from the varlist, then ece2cmor3 will run **only** your script variables. This may shine a light on whether there is interference from other tasks.

[2021-01-07 13:39] fserva commented on #670
Thanks for the tips. Good idea about removing variables! I'll try editing the `ifspar` keeping only a small selection of standard variables. This should clarify what is going wrong with the external process indeed

[2021-01-07 13:43] goord commented on #670
Hi @fserva no need to edit ifspar.json! Just look for the ```--varlist``` or ```--drq``` option in the ece2cmor call and edit that file, only keeping your tendencies in the data request

[2021-01-07 15:44] fserva commented on #670
Some preliminary results: I have removed most variables from the dreq json file and the execution seems to be going on.

The scripts is running, and all the other variables should have been cmorized (the files are in the working directory named like `variable_table.nc`; I imagine _all_ the files should be moved from their current to the cmorized folder at the end of the process?

So +1 for the occ

[2021-01-07 15:48] goord commented on #670
Yes once all your pre-processed nc-files have been successfully produced, ``ece2cmor3`` will process them and create the cmorized files in the final output directory. You don't have to move them anywhere in your script.

[2021-01-07 18:55] fserva commented on #670
Nope, another failure, apparently similar to the previous one:
[code]
But I may have figured out the problem. Also now runtime is about 4 hours. I think somewhere a limit of 4 hours is set, but evidently it is too short for this. I'll try increasing the time limit to 12 hours... Perhaps this also explain why the scheduler quits without much explanation.

[2021-01-08 09:35] fserva commented on #670
Hello @goord this time the process went further but I believe there is a problem with the cmorization due to the fact that variables are zonal mean.

As you can see the script ends ok...
[code]
Should I write somewhere that the grid has no x-values, being zonal mean?

[2021-01-08 09:52] goord commented on #670
Hi @fserva, I will take over from here, if you can send me some of your files I can adapt the code to correctly cmorize it. Do you have an ftp server or google drive so I can get at least 1 of the nc files produced by your script?

[2021-01-08 13:38] goord commented on #670
Hi @fserva I believe our reading of the grid information was a bit too strict. It's strange because zonal means are supported by ece2cmor3, but apparently our intermediate nc files produce grid descriptions that do have ``xvals`` (perhaps an empty list?).

I relaxed the grid info reading which should take you a step further.

[2021-01-08 13:59] fserva commented on #670
Hello, well when writing the files the longitude dimension is absent. Better, I had longitudes previously but then I have removed them, see https://github.com/EC-Earth/ece2cmor3/pull/579#issuecomment-585615504.

Perhaps I should keep the single-valued longitude, as a cdo zonmean does? It should be easy.

[2021-01-08 15:03] goord commented on #670
Yes that would be easier for ece2cmor. Then I can revert the changes a committed earlier to read your files

[2021-01-09 09:44] fserva commented on #670
Hello, when keeping the longitude in the zonal mean files the errors is different:

[code]
Apparently the working directory is empty so I can't check the problematic files.
Or should I wait for your to implement something @goord?

[2021-01-09 16:34] goord commented on #670
Hi @fserva I believe ece2cmor is looking for a variable ``var<gribcode>`` in the file, but I will check this tomorrow

[2021-01-09 19:27] fserva commented on #670
Thanks, no problem we can sort it later next week.

FYI I've taken codes from `215.129` to `222.129` for these variables. It is easy for me to rename the variables in the output files like `var129215` or something like that.

[2021-01-11 19:58] goord commented on #670
Hi @fserva I adapted ece2cmor3 to accept also cmor-named variables, like yours, in the intermediate nc files.

[2021-01-12 11:00] fserva commented on #670
Thanks for the implementation @goord.

I do not understand this new error however:
[code]

Should this be taken from the cmor table or should I add something in the files? I do not understand how this key is treated.

[2021-01-12 11:06] goord commented on #670
Ah that is something that is added when filtering grub files, which is skipped for your variables of course. I overlooked that one, will fix it this afternoon

[2021-01-12 11:11] fserva commented on #670
Ok, if that is an attribute in the netCDF I can also add it in the script (maybe it is cleaner?). If you prefer let me know and I can have a try.

[2021-01-12 13:17] goord commented on #670
Hi @fserva no it is a python attribute on the task object. This is the frequency of the original output variable, which ``ece2cmor3`` occasionally needs to do e.g. unit conversions (e.g. de-accumulating fluxes). I assume your variables don't require any unit conversion from ``ece2cmor3`` itself, so I made the requirement less strict and you should be able to proceed.

[2021-01-12 13:30] fserva commented on #670
Yes, right, I prepare the variable already in daily mean for EdayZ and monthly mean for EmonZ.
I do not change the frequency of the original output variable for the calculation, I read in instantaneous values and produce instantaneous values, which are finally averaged daily or monthly. No conversion needed.

[2021-01-12 19:00] goord commented on #670
I don't think it's actually needed in your case @fserva

[2021-01-13 08:38] fserva commented on #670
Hello @goord, the EdayZ variables I was testing have been cmorized! :confetti_ball:  Values and files metadata look ok. I will now try to process all the variables to see if this is also working.

Probably I wrote this already, but I noticed that variables were processed even if they were in the `ignored`/`missing` excel. This is not a problem, but maybe it is something worth checking in the futur

[2021-01-13 12:28] goord commented on #670
Hi @fserva, great to hear that, hopefully the other tables will work out of the box!

Regarding the ignored/missing excel files: these are only used when @treerink creates the ``varlist.json`` files from the original data request. If you add variables to these files manually, ``ec2cmor3`` will just try to process them (perhaps resulting in an error), so I guess the behavior you report is correct.

[2021-01-13 12:50] fserva commented on #670
Hello, I will double check the `json` file (since it is in the pextra control files I want to check I remove all the example variables) and try the full request.

I understand now about the xlsx files, I thought they were checked at execution! Yes, I make the edits manually, but the xlsx I should have commited are also polished and usable to produce the data request then (I am not sure since I nee

[2021-01-14 10:05] fserva commented on #670
Hello @goord, from a first check all variables in both tables are correctly processed!

The path to the external script is set assuming that PYTHONPATH and PATH are updated.

Later I will fix the xlsx to allow the automated preparation of the data request json (which I have now edited manually)

[2021-01-14 13:29] treerink opened #684 "Wrong horizontal interpolation in remapping for soil type related variables"
While testing #682 we discovered that the remapping/regridding for soil type related variables like soil moisture is incorrect in the cmorisation. Because of different soil types in the horizontal direction, for these variables a nearest neighbor interpolation is required which was not the case sofar. The cdo code contains some dedicated code for this for IFS (for `ISEC1_CenterID == 98`):
[code]
w

[2021-01-14 17:44] fserva commented on #670
There is another thing about the xlsx files.

In the identified-missing xlsx file, only line 5 should be removed. Actually this variable is from PEXTRA.
In the identified-missing-pextra file, there are no relevant variables (while they should have been presumably).

In the ignored xlsx file, several variables should be deleted. However many of them are via PEXTRA or produced from the
external scri

[2021-01-15 15:33] fserva commented on #670
Hello @goord, I have been looking at the log and I have found this error:
[code]
and the following log messages appear unrelated. Can I simply disregard it? It looks related with filtering, which is not done for the dynvar variables...

[2021-01-16 11:14] treerink commented on #682
Including `ps` in the varlist (and after merging the latest `master` in this `missing-ps-fix` branch I got in the slurm message:
[code]

And in the cmor.log file:
[code]
to my surprise, so I need to have a look.

[2021-01-16 11:18] treerink commented on #670
Better, to provide here a list of all issues / items you have for DynvarMIP concerning the xlsx files. The adjustments need to be made in the correct layer more upstream.

[2021-01-18 09:16] goord commented on #670
Strange, you shouldn't be the only one with this issue. I believe these are ``fx`` variables that are failing whenever the start date is before 1900. Will fix it in this branch asap.

I guess this branch is about ready to get merged to the main branch then?

[2021-01-18 09:58] fserva commented on #670
Ok thanks. As said this happens for years after the first in the simulation, for some reason 1850 is OK, 1851-1854 are not.

Regarding the merging, I need probably to update the ignored/missing xlsx files but I am not sure about the approach (variables should be in the pextra, but they are now in the standard file). Otherwise yes I don't see more fixes to do.

[2021-01-20 10:39] nierad opened #685 "ece2cmor3 crashes with "ImportError: No module named dateutil.parser""
Hi all,

I am not sure whether this is related to ece2cmor3 or my installation. After some modifications to lpjg2cmor.py I got the following error:
[code]
I then moved the whole directory and re-installed ece2cmor3 from scratch as many times before. However, I got the same error. Even if I go back to older releases.
I also seem not to be able to update conda itself. I get this when trying:
[code]

[2021-01-20 11:35] treerink commented on #685
Can you first try in your conda environment (i.e. in a shell where miniconda2 is active or the ece2cmor3 environment is active):
[code]
Let's see if this is the only problem.

[2021-01-20 13:23] nierad commented on #685
Hi Thomas!
This is what I get. Do I have to switch to Python3?
[code]

[2021-01-20 13:39] etiennesky commented on #685
FYI @nierad if you want to cmorize the special variables for c4mip (cLandYr, cFluxYr), you should use my ece2cmor3 fork.

However, official ece2cmor3 sill be fine for the standard variables, even fco2nat which also contains the co2 flues from pisces (fgco2).

[2021-01-20 13:42] nierad commented on #685
Thanks Etienne,
unfortunately, this is just an every-day-cmorization which suddenly doesn't work anymore...

[2021-01-20 14:09] treerink commented on #682
Hi Gijs,

I added the test varlist:
[code]
in the `master,` and merged this also in the `missing-ps-fix` branch.

[2021-01-20 16:50] treerink opened #686 "Removing the second masking for ifs land-masked variables"
As a remnant from the earlier method a mask is applied after the regridding while the latest method does the masking before regridding by not taking the invalid values into account. The second masking after the regridding should be removed for the  ifs land-masked variables because it could lead to unnecessary masking of a few additional points.

The proposed fix adds to the recent improvement don

[2021-01-20 16:53] treerink commented on #686
The `remove-2nd-masking` branch has been created for this issue.

[2021-01-21 12:32] fserva commented on #670
Hi @goord, should I expect some update for the issue we were discussing about the dates before 1900 or should I do something?

[2021-01-25 21:02] goord commented on #686
Hi @treerink this can be tested

[2021-01-25 21:27] goord commented on #685
Hi @nierad, in your ``ece2cmor3`` conda environment you can either:

- type ``pip install python-dateutil``
- type ``conda install python-dateutil``

or checkout the latest version of the master branch, I have added the dependency to the list of packages. This slipped our attention because on most systems this package is already installed and the conda python silently uses the system-installed pyt

[2021-01-25 22:14] treerink commented on #682
Hi @goord I saw an udate in the `missing-ps-fix` branch. Is this one also ready for a next test?

[2021-01-25 22:21] goord commented on #682
That's right, I have tested it locally but await your approval

[2021-01-25 22:26] treerink commented on #682
Ok thanks, will test it

[2021-01-26 09:17] nierad commented on #685
Hi Gijs,
it doesn't work. I get this when installing everything from scratch (including miniconda2 or 3: https://github.com/EC-Earth/ece2cmor3/issues/685#issuecomment-763602852
Why is there a reference to python2.7? I thought, we had moved to Python 3...

[2021-01-26 09:23] goord commented on #685
No python3 is still in a separate branch, yet to be merged

[2021-01-26 09:26] nierad commented on #685
Hmmm... could some other settings interfere with it?

[2021-01-26 10:52] goord commented on #685
It's a strange error,  because anaconda says dateutil is already installed on your system

[2021-01-26 10:57] nierad commented on #685
Also, the fact that I can't update conda itself is strange. I will try this afternoon with David to see whether it is something with my account/settings only. If that test is negative, I think I'll contact our HPC-support.

[2021-01-26 12:52] goord commented on #685
Hi Lars, what happens if you type
[code]

[2021-01-26 12:57] nierad commented on #685
Hi Gijs,
no Problems. That works.
I just replaced
[code]
by
[code]
in ece2cmor.py. It runs. Let's see what happens if we get to where the parser is used...

[2021-01-26 13:00] nierad commented on #685
Yes! That solved it....
It's not that I undersand what is going on here...

Btw, there is also a
[code]
that is never used.

[2021-01-26 13:12] goord commented on #685
That relativedelta was probably used in the past and import statement was never removed...

The only thing I can think of is that the parser is no longer a module within the dateutil package. You can check in your solution to the master branch if you wish

[2021-01-26 13:34] treerink commented on #685
But be sure you do not have other changes. Can you please wait a second, I am just halfway a merge.

[2021-01-26 13:39] treerink commented on #682
I have merged the `missing-ps-fix` branch into the master. Both tests (with and without explicit listing `6hrLev ps`  in the varlist) passed. When `6hrLev ps` is listed in the varlist it is now also cmorised as an separate output variable.

[2021-01-26 13:43] treerink commented on #682
Next issue to be solved for this cordex model-level output is #686.

Thereafter issue  #684 remains to be solved for this one as well.

[2021-01-26 14:00] treerink opened #688 "Update the nested CMOR tables for an update of our own request"
Update the nested CMOR tables for an update of our own request in which we asked to extend the `CMIP6_CV.json` by:

The EC-Earth consortium (institution_id is EC-Earth-Consortium) kindly asks for the following changes in the `CMIP6_CV.json`:

- Please add for EC-Earth3-CC            another activity_participation: ScenarioMIP
- Please add for EC-Earth3-AerChem  another activity_participation: RFMI

[2021-01-26 14:03] treerink commented on #688
Done in 8c88b080f0829785428c488104ddd8ee1d65d7d2.

[2021-01-26 14:03] #688 closed

[2021-01-26 14:12] nierad commented on #685
No worries. I'll wait. Let me know when you're ready.

[2021-01-26 16:06] fserva commented on #670
Hello @goord @treerink, another question.

I was checking the data and for `epfz` I noticed there is a change of sign:
`epfz:history = "2021-01-13T23:39:21Z altered by CMOR: Changed sign. 2021-01-13T23:39:21Z altered by CMOR: Reordered dimensions, original order: lat plev time. 2021-01-13T23:39:22Z altered by CMOR: Converted type from \'d\' to \'f\'." ;`

I have compared with other models and the

[2021-01-26 16:30] goord commented on #670
It's the internal convention that all IFS vertical fluxes are downward oriented. The the cmor-library flips the sign if the requested variable needs to be oriented upward. We have a method to avoid this flipping, I will let you know asap how to do it

[2021-01-26 17:34] nierad commented on #685
@treerink has commited change to master

[2021-01-26 17:34] #685 closed

[2021-01-26 17:56] fserva commented on #670
Some info for @treerink, in order to update the xlsx files. As written earlier, these variables should have been in the `pextra` xlsx, since PEXTRA are required for saving many variables.

Here are the changes for the xlsx files in the master branch (note the typo `cmpi6` in the titles):

- `list-of-identified-missing-cmpi6-requested-variables-enable-pextra.xlsx`: no change needed, no DynVar varia

[2021-01-26 20:55] nierad opened #689 "How to treat time-unit "yrPt"?"
Hi again,

I have another request on how to deal with the temporal unit "yrPt" (see e.g. here: http://clipc-services.ceda.ac.uk/dreq/u/fa23fd12-267c-11e7-9bed-ac72891c3257.html). This is not an annual mean but the value of a certain time-step, in CMIP6_Eyr.json it is described in the notes as the end-of-year value. For LPJG we have so far not cmorized values with this "frequency", because we only

[2021-01-26 21:41] treerink commented on #689
As a side comment:

Rather recently I did add in 386a75011bb302dbec1efd7d372b13ca58173288 the `yrPt` for the LPJG component of _ece2cmor3_ as part of #645 for the LAMACLIMA project. I am still waiting for Iris to repeat her run, so we can validate the final setup.

[2021-01-26 21:45] treerink commented on #670
Thanks @fserva, I will have a look with this list. To get this well in the system I have to adjust this in the right way. If you would simply change it, the changes would disappear a next time these xlsx files are regenerated. I will take care of it, and come back with questions in case I need further clarification.

[2021-01-27 09:12] nierad commented on #689
Hi Thomas,
I remember this and this was the reason, they were skipped in the beginning. So we added a
[code]
case to lpjg2cmor.py. It "works" such that the data is cmorized and the files can be used. They do NOT pass the qa-dkrz test, though.
The solution I suggested above does pass the test, but isn't likely to be the only solution.

[2021-01-27 12:04] treerink commented on #686
I have been testing the `remove-2nd-masking` branch  with the ec985bd9763c36e7f55c084092b4034fa6de6494 commit, but I do not see any difference in `tsl` or `mrsol` for instance after comparing the new result and the previous result which includes the second masking step. So does it really make no difference, contrary to the believed findings of SMHI, or did we not disable (in all cases for instance

[2021-01-27 13:29] klauswyser commented on #686
Hej @treerink, could you make a sample output available? One file with one filtered variable is sufficient. Thanks.

[2021-01-28 11:43] treerink commented on #686
Well, I overlooked one thing: that `ncdiff` doesn't show a difference as soon one of the points in both files has a missing value, in that case in the resulting file it gives a missing value in any case. And that matters here. So with setting the missing values to different values and taking the `ncdiff` on those files the mask differences become visible after removing the second masking step:

![

[2021-01-28 12:49] treerink commented on #686
The `remove-2nd-masking` has been merged into the master, solving this issue.

[2021-01-28 12:49] #686 closed

[2021-01-28 12:59] treerink opened #691 "Add an ignore mask for erroneous points in versions < v1.7.0 for ifs land-masked variables"
In #671 and #686 two fixes have been applied for ifs land-masked variables. Without the raw EC-Earth3 data it is not possible to correct these data.  Because a lot of published data on the ESGF nodes can not be fixed, as their raw data is not longer available, it is asked whether a mask can be constructed which marks the erroneous points.

We intend to provide a mask which marks all points which a

[2021-01-28 13:03] treerink commented on #682
Issue #686 is closed.

So for this issue #684 remains to be solved.

[2021-01-28 13:49] aearamos commented on #329
Hi @goord,

Sorry for going back to this issue, but we recently updated ece2cmor to its last version and I got that same error. We were using the previous version of ece2cmor for the C4MIP runs and I noticed that the code still calls for  `strftime` in grib_filter.py, but for some reason, we never had a problem with that version.

Now that we updated and I see a lot of changes, we started having t

[2021-01-28 13:54] treerink commented on #329
@aearamos are you running the pure latest `ece2cmor3` master version? Or one with modifications on top of that?

[2021-01-28 13:56] aearamos commented on #329
I think I am a couple of commits behind, but I updated two weeks ago I think. Should I call the most recent one?

[2021-01-28 13:56] goord commented on #329
This is due to the ``fx`` variables we added, we didn't test those for runs starting before 1900 apparently.

[2021-01-28 15:19] etiennesky commented on #329
Note that strftime is used in 4 places in the repository, it would be great to replace those with python function(s) which work before 1900. Thanks for your help!

[2021-01-28 17:17] nierad commented on #689
I have checked other model's output and found that they are actually using day 365 for the instantaneous value, which is Dec 31 24:00 o'clock of year Y , or Jan 1st 0 am (or pm ? Whatever, modnight, beginning of day) of year Y+1. This is what ece2cmor3 creates, too. As we only cmorize single years this would mean, the values for "end-of-year Y" would be "start-of-year Y+1" instead. Same point in t

[2021-01-29 10:12] goord commented on #329
Hi I fixed the issue in the filter. I did not replace all occurences @etiennesky because some of them are just used in time stamps of the log files, which presumably won't have a date before 1900

[2021-01-29 10:13] #329 closed

[2021-01-29 17:01] plesager commented on #689
So you mean that when cmorizing year Y, you create a _file_ with Y+1 in the name? If you prefer to have step 365 _file_ Y (which I would also expect, understanding "days since YYYY-01-01" starts with 1 pinned to YYYY-01-01, right?), then rename the files  (you or ece2cmor3).

I suggest picking up the last available value of the year that you cmorize, set it to t=365 or 366, and without time bounds

[2021-01-29 17:40] nierad commented on #689
That could easily be done, but wouldn't that create issues somewhere else?

There is only one value per year. And that is the last timestep's value. For LPJG that runs on a daily time-step 364.5 would not be unappropriate, but I get your point (and qa-dkrz disallows it, too). My question is: How to get rid of time_bnds?

I can't make the nctime-test run on our machine...*rolleyes*

[2021-01-30 11:43] plesager commented on #689
If done correctly, that should not create problems elsewhere. Looks like an issue for ece2cmor3 to resolve. But a simple post-ece2cmor3 script would do the trick... and we already have plenty of them.

A simple call to ncatted should work.

I would first do a qa-dkrz test on files that you have renamed from Y+1 to Y, and from which you have removed the time_bounds.

[2021-02-01 10:16] uwefladrich commented on #689
Are you on `tetralith`? Because Prashanth has built a container with `nctime`, [look here](https://nsc.liu.se/ESGF/2020-12-28-Containerized_nctime_for_time-axis_checks_of_CMIP6_data/). There is another [container with the cmor-fixer](https://nsc.liu.se/ESGF/2020-12-28-Containerized_cmorfixer_for_cmorfixing_CMIP6_data/). Haven't tested either of them yet, but sounds cool.

[2021-02-01 15:45] treerink commented on #670
Hi @fserva, @goord I see two branches:

- dynvar-tem-script
- dynvar-tem-script-mod

I have missed the reason for that?

[2021-02-01 16:08] fserva commented on #670
Hi @treerink I have created `dynvar-tem-script-mod` to test my changes on top of the branch made by Gijs.
Since December we have been both using `dynvar-tem-script-mod`, so the older branch is not needed.

Actually I think I should simply take @goord's fix about the pre-1900 dates and perhaps I could make a PR?
There are only the xlsx files to fix, but this can be done later I think.

[2021-02-01 16:24] treerink commented on #670
Ok, so I will take `dynvar-tem-script-mod` and see if I can get the proper xlsx files there and what is needed for that. Before I try in the master to correct the typo in the `cmpi6` which unfortunately made it by copying into many files.

So I can remove the `dynvar-tem-script` branch?

Merging the master into the dynvar-tem-script-mod` branch currently has two conflicts:
[code]
the latter one is

[2021-02-01 16:38] fserva commented on #670
Yes if @goord agrees `dynvar-tem-script` is outdated and can be removed.

For the conflicts: in the `environment.yml` file I've added `nco` and `scipy` for my script; for `ifs2cmor.py`, it seems there are bits added by @goord to handle script tasks. Not sure how to deal with them, except that they should be kept in order to run external scripts...

[2021-02-01 16:44] fserva commented on #670
I understand I could try removing conflict markers to solve this, but maybe you prefer to do it?

[2021-02-01 16:53] goord commented on #670
Hi @treerink and @fserva I will merge the `dynvar-tem-script-mod` branch asap and remove the other one

[2021-02-03 18:35] goord commented on #684
This can be tested in branch [interpolate_nn](https://github.com/EC-Earth/ece2cmor3/tree/interpolate_nn)

[2021-02-04 08:33] treerink commented on #684
Showing first the manual diff plot with the new proposed nn (nearest neighbour) interpolation using `cdo`'s `-setgridtype,regularnn` from yesterdays session:
![diff-nn-interpolation](https://user-images.githubusercontent.com/18733068/106865037-ea951d80-66ca-11eb-910d-50bc51190fad.png)
Between -15.6 & 15.6 degrees around the equator the grid center points probably coincide for both the gaussian red

[2021-02-04 08:37] treerink commented on #684
I have run various tests with the branch. A positive confirming result is that I found correct looking corrections for Lmon mrso:
![diff-Lmon-mrso](https://user-images.githubusercontent.com/18733068/106865981-33010b00-66cc-11eb-889e-3a5745b9ca53.png)

However, strange enough, for 6hrPlevPt mrsol I did not see any differences. So first I will check whether something went wrong in my check.

[2021-02-04 09:31] goord commented on #684
Do you have the cdo command from the log file?

[2021-02-04 09:55] treerink commented on #684
Both logs look correct to me:
[code]
I will have a look whether something went wrong with the ncdiff.

[2021-02-04 10:27] treerink commented on #684
It is ok, I had some displaying issue. I have also made a confirming diff for `6hrPlevPt` `mrsol` in  the model level cmorisation set (#682).

I will now ask Erik to judge whether the erroneous features he spotted before with the soil type related variables are gone with this fix.

[2021-02-04 10:34] treerink commented on #684
The following variables are affected (a grep on `nn` in the current `ifspar.json`):
[code]

[2021-02-04 16:04] fserva commented on #670
Sorry @goord, I have encountered a possible issue related with the definition of `PYTHONPATH` we are using for running the scripts.

On one machine I had some troubles installing conda packages (specifically: yaml), similar to what is here (at cause 2) https://docs.conda.io/projects/conda/en/latest/user-guide/troubleshooting.html#conda-reports-that-a-package-is-installed-but-it-appears-not-to-be

[2021-02-04 18:30] treerink commented on #684
Checking whether we catched all soil related variables in the `ifspar.json` in db6479c5d42f1d1c8fb8b51332951470320f1d39:

[code]
[code]

The other check:
[code]
does not have any hit.

Thus, the `"interpolate": "nn"` attribute should be added for `clayfrac` & `mrsos` as well.

[2021-02-05 13:34] treerink commented on #684
Solved, merged into the master branch.

[2021-02-05 13:34] #684 closed

[2021-02-05 13:38] treerink commented on #684
The following variables are affected by this fix:
[code]

[2021-02-07 22:15] treerink opened #693 "Another pre-release: v1.7.0"
In addition to #671 which was included in the previous pre-release `v1.61`, another pre-release `v1.7.0` makes sense because the related and important bug fixes of #686 and #684 are solved.

[2021-02-07 22:30] treerink commented on #693
See https://github.com/EC-Earth/ece2cmor3/releases/tag/v1.7.0

Done

[2021-02-07 22:30] #693 closed

[2021-02-07 22:35] treerink commented on #682
After solving #684 we seem to be able to cmorise correctly the cordex model-level output including the highly appreciated fields by RCM modellers in orderr o use this data to force their RCM with the EC-Earth output.

Finalizing this issue coincides with / is part of the pre-release #693.

[2021-02-07 22:35] #682 closed

[2021-02-17 18:09] fserva commented on #670
Hello, should I open a pull request for closing this? By the way, I found out scipy was recently upgraded, and this is one of the requested additions to the environment. However this should not make problems with the script.

[2021-02-17 21:41] treerink commented on #673
Solved in effdee8.

[2021-02-17 21:41] #673 closed

[2021-02-18 16:22] treerink commented on #660
Calling drq2ppt is now omitted for OMIP experiments, which prevents the reported error in the genecec-log files.

Done

[2021-02-18 16:22] #660 closed

[2021-02-18 16:25] treerink commented on #660
When `drq2ppt` is skipped a message is sent by `genecec` with a reference to this issue.

[2021-02-18 16:58] treerink commented on #661
Like in #660 also skipping the call to `drq2ppt` for this `rad-irf`experiment and giving a message.

Done

[2021-02-18 16:58] #661 closed

[2021-02-19 15:26] treerink commented on #655
@plesager can you check whether with the latest master version `ps` is now added as independent cmorised output as well in your AerChemMIP case? For the cordex model-level output this is the case now. If all is fine now, you can close this issue.

[2021-02-19 15:27] treerink commented on #645
Done

[2021-02-19 15:27] #645 closed

[2021-02-19 15:29] treerink commented on #664
Technically we are there. Many tests have passed successfully. The latest validation of the fieldvalues is on the way.

[2021-03-08 12:07] etiennesky commented on #613
Hi @treerink @goord @pabretonniere @aeramos

Note I added a comment here about this issue https://github.com/EC-Earth/ece2cmor3/pull/635#pullrequestreview-441455884

I am having a minor issue with this feature, when nemo/pisces is not activated (this happens in AMIP runs or offline land surface runs) the code fails because the nemo output variable fgco2 is not found.  I added this as a safeguard t

[2021-03-08 12:54] goord commented on #613
Hi @etiennesky this should be implemented with an extra flag to lpjg2cmor, because once the separate components are running, they have no way of knowing whether the run had nemo output...

[2021-03-09 16:10] treerink commented on #691
A neat `omit_mask` has been produced and published [here on b2share](https://b2share.eudat.eu/records/5692faf1b52f446887f191ddd32a1381). The file with the `omit_mask` can be downloaded by this [direct download link](http://hdl.handle.net/11304/ccb20fb4-fc11-46ef-ab18-7975d6de84bc).

[2021-03-10 09:53] treerink commented on #691
Currently we only provided the `omit_mask` for the EC-Earth3 standard resolution, i.e. for IFS T255. For the EC-Earth3 LR variants and the EC-Earth3 HR variants the `omit_mask` has not been produced yet. Therefore I need for each resolution two `Lmon` `tsl` files based on the identical EC-Earth output for each of these resolutions:

1. using `ece2cmor3` `v1.5.0`  # git checkout 0e9c8f0d4efe956627d

[2021-03-14 15:04] krumit commented on #691
I guess, I could do that for HR. For clarification: You just need two of these Lmon tsl files (with ece2cmor3 v1.5.0 and v1.7.0), no matter which actual simulation they are coming from and which timesteps (years) they contain?

I have produced a number of DCPP-A-hindcasts in HR that have been cmorized already. I think I wrote the necessary output to additionally cmorize tsl. I will check and come

[2021-03-15 14:25] treerink commented on #691
Hi Tim,

That would be great, thanks! Yes indeed I do not mind which time step and which simulation, as long you use the same raw data for running both ece2cmor3 versions on it of course. Please do not upload these files here at this Github. I think at SMHI you can easily provide me a link from where I can download it, so if you can post the link here, that would be great

Thanks,
Thomas

[2021-03-16 13:16] krumit commented on #691
Hi Thomas,

You should be able to download the two files from
http://exporter.nsc.liu.se/8e9344127f27457a96c4e276d738078a
or
rsync://exporter.nsc.liu.se/8e9344127f27457a96c4e276d738078a

Please let me know if you encounter problems.

Best,

Tim

[2021-03-16 14:02] treerink commented on #691
Hi Tim,

I got them and the checksums are fine (the rsync did not work for me). Thanks, I will work on the `omit_mask` for HR with this.

Regards, Thomas

[2021-03-18 11:30] treerink commented on #684
In 314d909 one varlist for the CMIP historical and one other for the ScenarioMIP ssp's (both AOGCM) are added with which the incorrect variables of #671 & 684 can be recmorised for those who still have the raw IFS EC-Earth3 data. In addition the fx variables are added in this varlist because of #667.

[2021-03-18 11:31] treerink commented on #671
In 314d909 one varlist for the CMIP historical and one other for the ScenarioMIP ssp's (both AOGCM) are added with which the incorrect variables of #671 & #684 can be recmorised for those who still have the raw IFS EC-Earth3 data. In addition the fx variables are added in this varlist because of #667.

[2021-03-25 12:18] treerink commented on #691
It was asked in the EC-Earth CMIP6 WG also to provide the script: Adding the script which produces for the EC-Earth3 LR, standard & HR resolutions the omit_mask for the BUG in the ifs land masked variables in `ece2cmor3` versions < `v1.7.0`. See #691, #671, #686.

[2021-03-25 12:19] treerink commented on #691
The `omit_mask`'s for the EC-Earth3 `LR`, `standard` & `HR` resolutions have been created and their latest versions will be uploaded to b2share.

[2021-03-25 13:01] fserva commented on #670
Hello @goord and @treerink, please let me know if I can help somehow with this. If you have suggestions for the possible `PYTHONPATH` conflict (two comments above), it would be useful. Thanks

[2021-03-25 15:47] treerink commented on #691
The `omit_mask`'s for the EC-Earth3 `LR`, `standard` & `HR` resolutions have been published on b2share [here](https://b2share.eudat.eu/records/f674000ecf3e4510a25960a4b7d77ee3).

[2021-03-25 15:47] #691 closed

[2021-03-26 15:05] treerink opened #694 "Add RFMIP piClim-spAer-histaer & piClim-spAer-histall experiments in genecec"
For an RFMIP analysis, apart of the existing request of the RFMIP `hist-spAer-all` experiment, the following tier 2 RFMIP experiments are requested, which are not included yet:
[code]

[2021-03-29 13:46] klauswyser commented on #667
Sorry for asking, it's not clear to me what the status of the fx variables ``stflf``, ``orog`` and ``areacell`` is. We have saved GRIB parameters in our ICMGG*000000 files, can we process these variables somehow with ece2cmor3? Or was this issue just about adding the variables to the data request? Thanks for clarifying.

NB: no group except BSC has published ``orog`` or ``areacell`` so far. And BS

[2021-03-29 19:15] treerink commented on #694
Done

[2021-03-29 19:15] #694 closed

[2021-03-30 08:22] treerink commented on #667
Hi Klaus,

Including these `fx` variables into the EC-Earth3 output, including them on the varlists and implementing their cmorisation is ready if you would use the latest `ece2cmor3` master branch AND the latest `r8018-control-output-files` branch (see also [portal issue 895-35](https://dev.ec-earth.org/issues/895#note-36)). The goal is to merge this branch in few weeks from now into the trunk an

[2021-03-30 08:46] klauswyser commented on #676
@treerink: following up on the question in [667](https://github.com/EC-Earth/ece2cmor3/issues/667#issuecomment-810021970): what is the problem with the cmorisation of ``sftlf``? The lakes? Or the coastline (= use a binary mask before or after regridding ``var172``)?

Re question of lakes: the definition of ``sftlf`` clearly says ["Percentage of the grid cell occupied by land (including lakes)"](ht

[2021-03-30 14:10] treerink commented on #691
In 2c46272 the script is extended for the LR-pliocene case. I have locally created the `omit_mask` for the LR pliocene case, but it is not uploaded to the b2share dataset yet.

[2021-04-01 05:07] klauswyser commented on #676
Great if sftlf can be solved with the Oasis mask. Is it necessary to upload these masks to b2share? Everybody who runs the model already has them in their inidatadir already, so do we need a copy then? If we have a copy on b2share too we have to make sure that it is properly maintained, however, this is probably no big deal because these masks haven't been modified a lot over time.

[2021-04-01 06:46] goord commented on #676
The run directory is visible to ece2cmor3, so it could get the mask from there, no need to upload it to b2share then.

[2021-04-01 06:51] goord commented on #675
I don't see how zfull can be delivered, as model levels vary in height with time for IFS. Except for the lower one, orog. We can deliver zg as a full 3D 6-hourly field, but we chose not to.

[2021-04-01 07:05] klauswyser commented on #675
Agree with @goord , it doesn't make sense to provide ``zfull`` (or ``zhalf``) as fx variable. Strangely enough, ``zfull`` is in the data CMIP6 request ether as fx or CF3hr variable without further comment. Is it fix or variable? Anyway, I don't think we should consider it any further.

[2021-04-01 09:41] plesager commented on #676
Indeed, ec2cmor3 already relies on files (`bathy_meter.nc` and `subbasins.nc`) in the rundir. Wouldn't hurt to add another one.

[2021-04-01 09:59] plesager commented on #676
I am trying to understand the difference between the two methods used to retrieve `sftlf`. Can someone outline the steps for each of them?

From what I've gathered, the method used so far is based on a template that has been created as follows:

- read var712
- convert to 0/1 - eg see Klaus Octave script (https://dev.ec-earth.org/issues/520)
- remove lakes
- remapped to regular gaussian grid

The

[2021-04-01 11:44] klauswyser commented on #676
The  shortcut for these 3 steps is to use A128.msk (or corresponding for other resolutions) from masks.nc instead. For the Axxx.msk files used in the coupling we had to remove the lakes to ensure global conservation, that's why we can use these fields now. The steps would be:

* read Axxx.msk from grids.nc and save it as a grib file (cdo replace can do that)
* remap to regular Gauss grid and renam

[2021-04-02 18:28] treerink opened #695 "Correct cmpi6-typo in filenames"
In several filenames the cmpi6 label (typo( is replaced by the proper cmip6 label. All layers have been tested for this change.

[2021-04-02 19:02] treerink commented on #695
Done

[2021-04-02 19:02] #695 closed

[2021-04-06 07:05] treerink commented on #670
Latest master including the "Correct cmpi6-typo in filenames #695" has been merged into the `dynvar-tem-script-mod` branch.

[2021-04-06 07:06] treerink commented on #670
Continuing with https://github.com/EC-Earth/ece2cmor3/issues/670#issuecomment-767719040.

[2021-04-06 07:24] treerink opened #698 "Update basic genecec nemo files for corrected hfsso description"
Coming from the latest data request version `01.00.33`: A correction in the hfsso description (Upward sensible heat flux => Downward sensible heat flux) causes some not too important changes in some underlying `genecec` files.

[2021-04-06 07:25] treerink commented on #698
Done

[2021-04-06 07:25] #698 closed

[2021-04-06 08:11] treerink commented on #670
@fserva reacting on a part of your post: What happens if you run the
[code]
script, is that the `list-of-identified-missing-cmpi6-requested-variables-enable-pextra.xlsx` is copied over the `list-of-identified-missing-cmpi6-requested-variables-enable-pextra.xlsx` and that this new situation is activated. Of course you need to activate in this way the pextra mode for your case which you probably are

[2021-04-06 09:53] treerink commented on #670
@fserva, I have added a script `switch-on-off-DynVarMIP-mode.sh` in the `dynvar-tem-script-mod` branch which can be called like this:
[code]
It includes activating the `pextra mode` so you do not need to call the `switch-on-off-pextra-mode.sh` script in addition.

Could you please check in the branch whether this works fine?

If so, are we ready for merge from your side? As soon that is the case I

[2021-04-06 10:47] fserva commented on #670
Hello @treerink thanks for taking care of this. I'll check your new scripts asap (as you maybe recall, I made the changes manually, but I agree this is useful to make things more robust).

Regarding the variables/tables combinations, I should have taken them from the cmip6 tables - of course some error in this operation is possible.

I will try to pull the latest version of the branch. The major t

[2021-04-06 11:37] treerink commented on #670
It looks to me that all the DynVarMIP variables are available in the `ifspar.json` in the `dynvar-tem-script-mod` branch, right? They were only skipped because they were part of the ignore file, the idea is that this will be solved by running the new `switch-on-off-DynVarMIP-mode.sh` script now.

[2021-04-09 11:00] fserva commented on #670
Hello @treerink I've just tried and your script runs without errors.

[code]

I do not understand exactly what the script is doing -  should this help creating the request file `cmip6-data-request-varlist-CMIP-1pctCO2-dynvar-EC-EARTH-AOGCM.json`? Sorry but I may have been not following the suggested approach for my earlier tests.

[2021-04-09 11:08] fserva commented on #670
From the long thread, the only problem may be related with the required definition of `PYTHONPATH` which `conda` does not like much. But this may be machine-dependent so maybe it can be ignored.

[2021-04-14 07:31] treerink commented on #670
Hi @fserva, no it is for creating `cmip6-data-request-varlist-CMIP-1pctCO2-dynvar-EC-EARTH-AOGCM.json`. The idea is that starting from the latest _**clean**_ `dynvar-tem-script-mod` branch, and after you run
[code]
you are able to cmorise your results without any further manual changes. So my question is whether you can test this? If this is the case then I believe we can merge this branch into th

[2021-04-14 07:32] treerink commented on #670
Add an edit in last post.

[2021-04-14 09:18] fserva commented on #670
Hi @treerink thanks for the explanation. I will test the cmorization like you suggest then.

[2021-04-15 10:14] treerink commented on #670
In order to proceed the merge of the `dynvar-tem-script-mod` into the master, I have tested `genecec` with this branch for both cases: with & without `pextra`: no issues.

Next I will continue the `test-all` cmorisation test for the `dynvar-tem-script-mod` branch.

[2021-04-15 13:07] plesager commented on #676
I produced `sftlf` from A256.msk for HiRes. The Caspian Sea is masked. It isn't in the standard resolution `sftlf` template shipped with ece2cmor3. So I reproduced the latter from A128.msk to double check:

 file:///home/sager/Pictures/Screenshot%20from%202021-04-15%2014-32-11.png

[2021-04-15 13:20] klauswyser commented on #676
The Caspian Sea should be removed because we set

````nn_closea   =    0      !  remove (=0) or keep (=1) closed seas and lakes (ORCA)````

in namelist_ref (and no changes in namelist_cfg for various ORCA configurations). This means the ECE3 runs were made without Caspian Sea even if IFS has sent fluxes, etc over the Caspian Sea to NEMO. The update of the Caspian Sea water temperature  and ice cov

[2021-04-15 13:51] plesager commented on #676
Ok, that means all `sftlf` published so far (all standard res) are wrong, right?

[2021-04-15 16:37] klauswyser commented on #676
Indeed, it seems that all published sftlf files contain the Caspian Sea as water. Following the logic that we treat as lake what is not handled by the ocean model this should be changed then.

[2021-04-15 16:58] fserva commented on #670
I am currently processing one year of simulation after a clean installation of the branch. No error so far, variables are produced (the dynvar ones) but it will take several hours to complete. I'll let you know when a couple of years are done @treerink

[2021-04-15 17:48] treerink opened #699 "Reorganize / clean output-control-files directory structure"
Cleaning and slightly generalising the output-control-files directory structure in order to facilitate a structured way to add non-cmip6 projects, like:
- Addition of a basic compact request #678
- Add two sets of dynamic RCM forcing variables on dedicated pressure levels #664
- Allow a logical extendable structure in which other non-cmip6 projects can be added (in branches), like the lamaclima da

[2021-04-16 07:35] plesager commented on #676
I fixed the `ece2cmor3/scripts/data-qa/recipes/sftlf_fx_EC-Earth3-Veg_TEMPLATE_r1i1p1f1_gr.nc`. It is available in the `fix-sftlf-tmpl` branch. See  a7e2f67

[2021-04-16 13:16] fserva commented on #670
Hello @treerink two years are done, and the data is produced. No major error reported.

Minor errors in the log files are probably not relevant, since these variables are not in the GG/SH files but computed 'offline'.
`2021-04-15 16:07:52 ERROR:ece2cmor3.grib_filter: Field missing in the first day of file: code 219.129, level type
210, level 100000. Dismissing task psitem in table EdayZ`

File met

[2021-04-16 13:40] treerink commented on #670
I expect something as in your previous case: `:ece2cmor_git_revision = "*-changes" ;` The `-changes` comes from the script because you have some modifications on top of your checked out ece2cmor3 version. I have never seen the  `"local unknown branch"` but it looks like you made a copy outside the git repository and run from there??

[2021-04-16 13:44] fserva commented on #670
No, I have used a fresh-cloned version. But it is true that I haven't committed the changed after running your `switch-on-off` script. When running the script, I had these changes
[code]
which I did not commit. Probably I should have. I can try to process another year after a commit, probably this would solve.

[2021-04-16 14:12] treerink commented on #670
No you should not commit them!

[2021-04-16 14:18] fserva commented on #670
`git log` returns `fabb918` which is indeed your last commit in the branch.

[2021-04-16 14:50] treerink commented on #670
I am running the `test-all` test and can see in some already produced files that I have the correct `fabb918`:
[code]
so this point looks fine to me. I will validate the full test when it's ready, and if this is without further issues we seem to be fine for merge.

[2021-04-19 12:39] treerink commented on #670
The `test-all` cmorisation test with the `dynvar-tem-script-mod` branch give an identical error log, so ok. Going to merge this branch into the master and to remove it and the older `dynvar-tem-script` branch.

[2021-04-19 12:58] treerink commented on #670
Merged, so closing.

[2021-04-19 12:58] #670 closed

[2021-04-20 08:43] plesager commented on #678
How does this compare to the default output? Could it simply replace it?

[2021-04-20 08:58] treerink commented on #678
Well depends, it certainly needs some investigation. This basic compact request is as it says basic and compact and therefore rather efficient for long runs like my retune runs, it includes a lot of monthly variables which allow to judge the climatology. After cmorisation hundreds and hundreds of years only cost about 1 TB to achieve. But if you want to run for instance barakuda on this (cmorised)

[2021-04-20 09:08] etiennesky commented on #678
note if we replace the default output this will have some impact on some things like reproducibility test which requires the current output. Namely some ifs variables might need to be added, and the post-processing script has to be adapted for new nemo filenames. Nothing very hard to do, just worth thinking about.

[2021-04-20 13:12] plesager commented on #678
As far as I remember, only monthly output has been used in reproducibility tests and in tuning exercises. And barakuda has been used only for monitoring. But still, we should follow Thomas suggestion and start with separate **default** (close to current, to be reviewed at some point) and **compact** requests. Then they will either merge or diverge.

We know that barakuda (or any monitoring/diagnos

[2021-04-20 13:57] klauswyser commented on #678
The default output in the ctrl directory is based on [discussions in the HiResClim project](https://dev.ec-earth.org/projects/ecearth3/wiki/PRACE_HiRes_project/edit?section=6) about what output is useful to assess climate, biases, variability, etc. This output was later modified to also fulfill the requirements for Barakuda, EMoP, the AMWG diagnostics package, and CVDP. Reducing the output will po

[2021-04-22 08:30] treerink opened #701 "Automatic creation of single variable lists with genecec of the EC-Earth3 request match"
When discussing data requests (e.g. post cmip6 data request) it is often helpful if a single list of variables can be shared and discussed for which it is clear that they are part of the data request system and which can be produced by `EC-Earth3` and which can be cmorised with `ece2cmor3`, the request - EC-Earth3 matching / available variable list for a intended experiment.

To produce for instan

[2021-04-22 08:37] treerink commented on #701
For the default CMIP6 cases I have most ready I think for this. However, a bit more care is needed for the so called 'injected' variables: variables which are injected in the CMOR tables by some of the `add-*.sh` scripts. When in a request additional variables have been manually added, then with this `checkvars` addition to `genecec` not only the cmor name in the CMOR column has to be added but al

[2021-04-22 08:47] treerink commented on #701
In 22f1243f88fc051ea407924419b3797584b01efa the default `genecec` part of this has been implemented.

[2021-04-23 11:07] treerink opened #702 "Fixing checkvars for the case a json file is given as request file"
The `checkvars` script has been used in the latest years only in combination with an xlsx data request file as input. In principle it should also run with a json data request file. The following fixes will be applied in order to achieve this:

- the json file does not consist the `priority`, so it needs to be handled as `unknown`
- the json file does not consist the `mip_list`, so it needs to be h

[2021-04-23 15:04] etiennesky commented on #689
I am unsure what is the status of the LPJG YrPt files in current version, is it supported?

[2021-04-23 15:06] etiennesky commented on #689
also - do we need to apply any changes to LPJG and add the corresponding entries to the .ins files for this to work? I see that the commit 386a75011bb302dbec1efd7d372b13ca58173288 adds them

[2021-04-26 08:04] nierad commented on #689
@etienesky: yrPt files don't yet pass the test, but I will address this again now.
Re changes to LPJG and ins-files: I don't know if I understand correctly, but no, I don't think there need to be any changes to LPJG. When lpjg2cmor was done, yrPt was just missed as a possible frequency in ece2cmor.

[2021-04-26 09:11] treerink commented on #689
I have seen that the  LPJG `YrPt` technically could be produced, so on that level it is working now. I have no idea whether the quality is ok , but that is what Lars is being commenting on and now is taking up again.

[2021-04-26 17:51] nierad commented on #689
Hi all,
technically, I have resolved the time_bnds issue (and yrPt variables do not require time_bnd) and am left with the point-in-time issue.
qa-dkrz tells me the following, after I renamed the files to the correct years:
[code]
qa-dkrz now complains about:
- missing time_bnds causing the CNSTY:FAIL
- a time gap between to succeeding files, causing TIME:FAIL
Apart from that my limited knowledge

[2021-04-27 13:30] nierad commented on #689
Ok. I did use the nctime-checks in the container that @ufladrich pointed me to. This worked quite nicely. The outcome was, that it seems to be correct, to use timestep 365 and have ece2cmor produce files for the following year, i.e. instead of having files from 1850-2014, there will be 1851-2015 instead. Also, setting `time_bnd = None` for `yrPt` fixes the error of wrong boundaries. Is this the wa

[2021-04-28 05:52] uwefladrich commented on #689
I regret to say, but I have given up on QA-DKRZ. It is not supported any more at the moment and the prospects are doubtful. See IS-ENES-Data/QA-DKRZ#25 for a recent issue I had and the response from DKRZ. It does a decent job when/where it runs, but I can't get it to work in my environment anymore.

So relying on **nctime** for checking the time coordinate is a reasonable strategy as far as I can

[2021-04-28 06:40] nierad commented on #689
Thanks a lot Uwe,
I will then consider this issue solved and ignore time-related reports from qa-dkrz.
I check a full dataset now and then commit (send changes to @treerink).

[2021-04-29 15:50] treerink commented on #702
With 67668f7 all is done and in case an json data request file is specified all 'unknown'-columns are omitted. In that case only the available ascii file is written (because usually when using a json file it will be the one including the preferences and then by definition the other ascii files are empty).

[2021-04-29 15:50] #702 closed

[2021-04-29 15:58] treerink commented on #701
This is no longer a problem, because solved in #702.

[2021-04-29 16:06] treerink commented on #701
After adding the convert script in 35248f4, a possibility coud be to produce the available ascii file based on the json file which includes the preferences - this is the most compact list and includes the EC-Earth3 component preferences. The ascii available file only does not contain the data request weblinks and MIP list in that case.

[2021-04-30 09:48] plesager commented on #620
Since an EC-Earth CMIP6 working group meeting will be organized in May 2021 (next month), this issue should be brought to the table.

Regarding the erratum: I would not mention `ece2cmor3 1.3`, because the faulty datasets will be listed and users won't need to check which post-processing was applied.  However the description should state that radiative fluxes were not accounted for.  We need to fi

[2021-04-30 10:08] plesager commented on #620
If `rss` and `rls` have been published with the same output frequency, they can be added to the `hfdsl` to fix it. The `cmor-fixer` could correct published data.

[2021-04-30 10:42] plesager commented on #678
Ok, good to know what motivated the current default output. Something to keep in mind.

Right, there is little impetus to change the default output, except it cannot be cmorized as is. Do we want to be able to cmorize the default output at the risk of breaking any post-processing tools users have been using? This has not been requested as far as I know.

As for the `compact` request, it is a good

[2021-04-30 11:34] goord commented on #620
That's right but they would have to be masked...

[2021-05-04 13:34] treerink commented on #701
From the `gencec-config` it is possible to `set add_request_overview = True` with that in all subdirectories a request overview file is created which is based on the request including the ec-earth preferences. To enable a full list the json-component to json-flat converge script is replaced by a new python one (65c0c07), this because it turned out that a merge of the variable lists for tables whic

[2021-05-04 13:37] treerink commented on #701
Closing after cleaning

[2021-05-04 13:37] #701 closed

[2021-05-04 14:56] treerink commented on #664
Validation has been successfully completed. Further embedding in `genecec` will be handled in #699.

[2021-05-04 14:56] #664 closed

[2021-05-05 12:36] treerink commented on #403
From e626d3e onwards, running `genecec` with  python3 inside the miniconda2 environment  is possible (in the master branch) by using your system python3 after:
[code]
Note the` drq2*` and `checkvars` scripts are still run with python2 (but based on python3 compatible code).

[2021-05-07 15:23] treerink commented on #664
For 23 & for 36 dedicated pressure levels for RCM dynamic forcing the:
[code]
have been added to the standard `genecec` production, which contain CMIP historical and ScenarioMIP ssp126, ssp245 & ssp585 output control files subdirectories.

[2021-05-10 08:00] treerink commented on #678
From the `ece2cmor3` / `genecec` side this issue is solved, so closing.

[2021-05-10 08:00] #678 closed

[2021-05-10 11:56] plesager commented on #678
No, it does matter. The current default is still used, not for spin-up or tuning though.

[2021-05-10 11:59] etiennesky commented on #678
IMHO it is nice to have a cmorizable compact output, but  the default output should not change at this point.  Maybe a 1-line comment in the ece-esm.sh runscript pointing to the basic compact request folder would be sufficient.

[2021-05-10 12:08] treerink commented on #678
Ok, then the question is whether we like to have a cmorisable default, which will ensure more conversion overall (like the number of barakuda versions). If, we think it is not worth the effort we keep the default as it is. An intermediate option is to make a default which has most of what is in the current default, but maybe has not some variables which are more difficult to get in. Note that it i

[2021-05-17 14:31] treerink commented on #675
Asked Andrea Alessandri to have a look and to comment on:

- `fx mrsofc`
- `fx rootd`

[2021-05-19 06:48] LaKenLin opened #703 "Problems cmorizing IFS output"
Hi!

I am working on cmorizing IFS output with ece2cmor v1.7.0. Only for the first year, I get problems with a handful of variables.
When I use mrsos/3hr and tsl/6hrPlevPt in the variable list, I get error messages looking like the following for both of them:

This is usually followed by the run continuing for a bit and then just stopping but not crashing without any apparent error message.
I shou

[2021-05-19 07:01] treerink commented on #703
The fact that you can run with `ece2cmor3 v1.5` and that you have trouble with `v1.7` related with the ` ICMGG????+000000`, might have to do with the fact that between these versions the way grib code 172 is used changed. Could it be that in the file which you linked or used as ` ICMGG????+000000` 172 is missing?

[2021-05-19 07:53] LaKenLin commented on #703
Code 172 is there:
[code]

[2021-05-19 10:08] treerink commented on #703
Okay if 172 is in the ICMGG????+000000 then the `v1.5` - `v1.7` difference is more puzzling.

Just another basic check, if applicable in your case, you take care of this:
[Recommended strategies](https://github.com/EC-Earth/ece2cmor3/wiki/Recommended-strategies#recommended-strategies)

[2021-05-19 11:06] goord commented on #703
Hi I think the duplicate GRIB message of the lsm in the filtered grib files is causing your problems. Something changed in the filtering of the lsm

[2021-05-19 12:36] plesager commented on #676
I just tried to create the `sftlf` for low res from the oasis A080.msk, and the Caspian Sea is also water:
![Screenshot from 2021-05-19 14-27-09](https://user-images.githubusercontent.com/11032052/118812653-9e9f6a80-b8ae-11eb-9710-ac9a421649ff.png)

Conclusion: the oasis A mask can be used to create the `sftlf` only for hires. For the other resolutions, another source or further manipulating the d

[2021-05-19 15:29] plesager commented on #676
I ended up using the ocp-tool and EC-Earth-4 init data to get a correct low res A mask. The `sftlf` I generated from it looks correct with respect to the Caspian Sea. One can spot some small changes at high latitudes when compared to the previous plot:

![Screenshot from 2021-05-19 17-14-07](https://user-images.githubusercontent.com/11032052/118838894-58560580-b8c6-11eb-9621-431e29872c1b.png)

I s

[2021-05-19 17:29] klauswyser commented on #676
Thanks to the lake model in ECE4 there is now a proper lake mask that can be combined with the fraction of land. However, it is risky to apply this lake mask also to ECE3 for 2 reasons:
1. The land mask in IFS has changed after cy41, therefore we cannot use initial conditions created with cy41 or higher in ECE3.
2. The lake mask not only contains lake but also coastal points with less than 50% lan

[2021-05-20 06:52] plesager commented on #676
OK, I see. I'm left with the original approach: using the oasis A mask that ships with ECE3, and manually mask the Caspian Sea.

[2021-05-20 19:34] treerink commented on #699
Fix needed in `genecec` in new structure of the output control files directories for the `test-all` case:

[code]
will be fixed after the `svn mv` in the ece repository.

[2021-05-20 19:42] LaKenLin commented on #703
@teerink it looks like we are following the suggested procedure for restart experiments. x000000 files are linked as x184912 for example.

@goord Yes, it looks like that. At least, that is the only difference I can see between the first year of run file, compared to later years. Any suggestions on how to go about fixing this manually? Since the grib file is generated during the run and further pro

[2021-05-21 07:03] plesager commented on #676
I have `sftlf` for the three resolutions supported in ECE3. They are all based on the oasis A mask we distribute. The Caspian Sea was manually removed from the low and standard resolutions sets, because it was still seen as water in their A mask.

If there is no objection, I propose that we use the new data sets for the next release of ece2cmor3 and cmorfixer.

[2021-05-21 07:28] goord commented on #703
Hi @LaKenLin, it cannot and shouldn't be fixed manually. I will have a look at it this afternoon. Are the grib files large? Could put the ICM{SH,GG}ds11+000000, ICM{SH,GG}ds11+201412, ICM{SH,GG}ds11+201501 on an ftp site or dropbox?

[2021-05-21 07:41] treerink commented on #676
Hi Philippe, ca you sent these files zipped by mail to me, so I can prepare a new EC-Earth b2share release?

[2021-05-21 07:49] plesager commented on #676
You can find them on my workstation:

    /net/pc170547/nobackup_1/users/sager/sftlf-for-ece2cmor3.tar.gz

[2021-05-21 09:00] treerink commented on #676
Thanks, got them!

[2021-05-21 10:10] LaKenLin commented on #703
I see. Thank you!
They are quite large, compressed together they have 9G. But you can find them here: https://www.dropbox.com/s/xhq8pq6swkky3uj/ds11_GG_SH.tar.gz?dl=0

[2021-05-21 10:52] treerink commented on #699
The lpjg links in the test-all cases are fixed, and also committed in the `branch-r8018-control-output-files` of the ece repository.

[2021-05-21 11:51] treerink commented on #678
Added in the `r8018-control-output-files` branch in [r8377](https://dev.ec-earth.org/projects/ecearth3/repository/revisions/8377) the ec-earth repository.

[2021-05-21 11:58] treerink commented on #664
The 23 & 36 pressure level sets and additionals are now added in the `r8018-control-output-files` branch in [r8378](https://dev.ec-earth.org/projects/ecearth3/repository/revisions/8378) the ec-earth repository.

[2021-05-27 09:00] goord commented on #703
Hi @LaKenLin I'm having difficulties reproducing your problem, could you post your varlist.json as well?

[2021-05-27 13:31] LaKenLin commented on #703
Hi @goord
In this [directory](https://www.dropbox.com/sh/vag36xeb8wdvqkj/AACpkPaPRQ0KojNlpVRiJ7pua?dl=0) I placed a varlist with the variables causing the problem as well as an out-log, a run script and the metadata file.

[2021-05-28 09:12] treerink commented on #699
I am closing this issue now most of it has been finished. In addition in this issue the request overview files hav ebeen added including a less verbose heuristic volume estime. The volume estimate files have been removed. Except the additon of a _default_ all other cases and a suporting structure have been realised.

[2021-05-28 09:12] #699 closed

[2021-05-28 09:22] treerink commented on #593
Upcoming change in producing ` fx sftlf` will make this issue obsolete. With help of  ` fx sftlf` data to be available on b2share for each resolution the cmorisation of  ` fx sftlf` will no longer need additional effort of the user (see #676).

[2021-05-28 09:22] #593 closed

[2021-05-28 09:34] treerink opened #704 "Release v1.8.0"
The aim of this release is to have a compatible `ece2cmor3` `v1.8.0` release with the `EC-Earth3.3.3.2.`

[2021-05-28 10:22] treerink commented on #676
The `fx sftlf` data for LR, standard and HR are now published as part of the [ece2cmor3-data set at b2share](https://b2share.eudat.eu/records/f979c6801d434754882cc9172c2305cb).

[2021-05-31 11:13] treerink opened #705 "Produce fx sftlf based on the the data as published on b2share"
Produce` fx sftlf` based on the the data as published for each EC-Earth3 resolution in the [ece2cmor3-data set on b2share](https://b2share.eudat.eu/records/f979c6801d434754882cc9172c2305cb).

[2021-05-31 11:16] treerink opened #706 "Publish the omit_mask for the EC-Earth3-LR pliocene case"
The omit_mask for the EC-Earth3-LR Pliocene case is reproduced and can be published on b2share as well.

[2021-05-31 11:17] plesager commented on #655
I checked that this is working as expected with the `pextra/CMIP/AerChemMIP/amip`.

[2021-05-31 11:17] #655 closed

[2021-05-31 11:37] treerink commented on #706
Hi Gijs, I see a new release date, but I do not see the new omit_mask for LR-pliocene?

[2021-05-31 11:42] goord commented on #706
oops. Where are the masks Thomas?

[2021-05-31 22:45] #706 closed

[2021-06-01 06:23] treerink commented on #706
Thanks Gijs!

[2021-06-02 08:13] treerink opened #707 "Add day snw & Eday mrros to the rcm-dynamic-plev*-forcing requests"
As there is agreement on the full rcm-dynamic-plev[23,36]-forcing requests by now, the latest few changes have to be applied in order to have a request which serves both direct research activities on the simulations and which fulfills the RCM restriction for dynamic RCM forcing.

Note that the RCM community usually is interested for the the historical run in the data from 1949 onwards. The rcm-dyn

[2021-06-03 07:05] treerink opened #708 "The Eday mrros skip for LPJG needs reimplementation"
While implementing #707 I encountered the following issue:

In #445 (see also ec-earth portal issue 633-21) the `Eday mrros` combination has been added to the (manual added) block in the ignored list because this `Eday mrros` combination cannot be produced by LPJG. However, this accidentally has caused the case that  `Eday mrros` is not delivered by IFS (while `mrros` from IFS, according to the pr

[2021-06-03 07:14] treerink commented on #708
Issue solved by 79815cc & f848452.

[2021-06-03 07:14] #708 closed

[2021-06-03 07:20] treerink commented on #707
Both are added with be43009.

Rerun of `genecec` gives additions for rcm-dynamic-plev[23,36]-forcing requests but also additions for some CMIP6 experiments which suffered from #708. The new results will be uploaded to a branch in the svn repository.

[2021-06-03 07:20] #707 closed

[2021-06-04 07:13] treerink commented on #684
See also [ec-earth portal issue 954](https://dev.ec-earth.org/issues/954), also for errata proposals.

[2021-06-04 14:51] treerink commented on #608
After discussing with @goord we decided to reject this idea because in practice it will generate more work for the user and save only a tiny part of resources. In fact this idea can also be realised by taking off the `Ofx` & `fx` variables from the varlists and to run one time a separate varlist with only the `Ofx` & `fx` variables, however also this is more work for the user then the current case

[2021-06-04 14:51] #608 closed

[2021-06-04 14:54] treerink commented on #676
Checks done, decisions ready. Final implementation is subject #705.

Closing this issue therefore.

[2021-06-04 14:54] #676 closed

[2021-06-07 09:49] goord commented on #705
This can be tested in branch ``sftlf-b2share``

[2021-06-07 12:04] treerink commented on #705
Hi Gijs, thanks. I tried, and got on the KNMI HPC:
[code]

[2021-06-07 12:13] treerink commented on #705
On my laptop I have:
[code]
but run into other trouble thereafter. Where should the downloaded file for `fx sftlf` end up actually?

[2021-06-07 12:16] goord commented on #705
It should end up in your temp dir as sftlf_fx.nc with the rest of the files

[2021-06-07 12:18] goord commented on #705
I had to update the b2share record string in ece2cmor3 because the new files are only in the latest version. I don't understand why on the bull we're seeing connection problems...

[2021-06-07 12:20] goord commented on #705
hmm in my browser it also complains it can't connect...

[2021-06-07 14:13] treerink commented on #705
I think you branched out from a master which was not the latest master version (but one just before I updated the b2share link for the nemo-vertices). With the consequence I get merge conflicts if I try to merge the master into this branch (for testing I actually need this merge).

Actually I had expect that you would replace for instance
[code]
And that for the new part there would be a check for

[2021-06-07 14:18] goord commented on #705
Aha I see, that makes sense.

I always download the sftlf to the temporary directory, but you're right I could also download it once to the resources like the nemo vertices. That may result in less traffic. Ok I will look at it this evening

[2021-06-09 08:34] LaKenLin commented on #703
Hi @goord
Could you have a quick look at the runscript and log I posted and let me know if you can see anything suspicious? Would be much appreciated!

[2021-06-09 13:34] goord commented on #703
Hi @LaKenLin I just downloaded your run script and config, will have a look at it later today. I'll get back to you tomorrow

[2021-06-10 07:21] LaKenLin commented on #703
Thank you!

My theory is that problems are caused by the fact that the ICMGGxxxx+000000 restart grib file has a record for the land-sea mask variable 172 while the regular records (e.g. ICMGGxxxx+201501) don't. This seems to lead to the grib filtering generating 2 timesteps for the land-sea mask in the first year:
`$~/wgrib/wgrib/wgrib 172.128.1.3
1:0:d=50010100:LSM:kpds5=172:kpds6=1:kpds7=0:TR=0:

[2021-06-10 07:39] goord commented on #703
Hi @LaKenLin your analysis is correct. The change causing this has been an 'extra round' of grib filtering to get the static fields out of the initial state file. However, this has lead to a double counting (double writing) of those fields when you have linked your init state file to your previous month file like you have. I am fixing this by keeping track of grib records that were processed alrea

[2021-06-10 08:54] LaKenLin commented on #703
Hi @goord, I just tried to explicitly remove code 172 from the initial state file and everything worked fine so your solution should do the trick for all my problems.
Thank you!

[2021-06-10 08:59] goord commented on #703
I have pushed a [new branch](https://github.com/EC-Earth/ece2cmor3/tree/fx-filter-fix) that should fix your problem; @treerink should we merge this branch for the release?

[2021-06-10 09:43] treerink commented on #703
@goord I probably do need to test this? In principle, yes it would be good to include it for the next v1.8 release. But #705 has priority, so because of that priority I would favour to merge the `sftlf-b2share` first, what do you think when do you have a next version to test for `sftlf-b2share`?

Ok I can run a test in parallel for the `fx-filter-fix` branch.

[2021-06-10 12:31] goord commented on #705
I have implemented the new cache directory in the b2share-sftlf branch

[2021-06-10 13:06] LaKenLin commented on #703
In a first test the new branch runs without any problems.
Thank you, can be closed from my side!

[2021-06-10 13:21] treerink commented on #703
Thanks @LaKenLin for reporting. I submitted my test-all case to check whether nothing is broken in that one.

[2021-06-10 18:44] treerink commented on #703
The test-all tests where fine.

The `fx-filter-fix` branch is merged into the master.

So closing this issue.

[2021-06-10 18:44] #703 closed

[2021-06-10 19:13] treerink commented on #705
After updating & merging the master in the `b2share-sftlf` branch, I still get stuck with the same error on the KNMI HPC with the downloading from b2share:
[code]

Also if I cmorise only the very first leg (so not launching several legs at the same time, that could be problematic, I can imagine, if the jobs at the same time detect the file is absent and they try to write more or less at the same t

[2021-06-10 20:50] goord commented on #705
Thomas can you check whether you can access the files with e.g. wget on that machine?

[2021-06-11 07:17] treerink commented on #705
Yes with `wget` I am able to manually download the following file on the KNMI HPC:
[code]
However, when I try to cmorise `fx` `sftlf` thereafter (with only this variable in the varlist), I still get the same error:
[code]

[2021-06-11 07:59] goord commented on #705
hmm, can you put a print statement on line 1010 of ifs2cmor.py? There you can print the fullpath variable and see whether it matches you r downloaded file path?

[2021-06-11 08:57] treerink commented on #705
That gives:
[code]
There seems to be a strange  T lable, saw something similar in error on laptop

[2021-06-11 09:09] treerink commented on #705
I guess something here:
[code]

[2021-06-11 09:11] goord commented on #705
Yes seems I am calculating the resolution incorrectly...

[2021-06-11 09:24] goord commented on #705
It should be just ``Nj - 1``, my bad...

[2021-06-11 09:28] goord commented on #705
Pushed a fix to the branch...

[2021-06-11 09:51] treerink commented on #705
Thanks, yes now I am able to cmorise on the KNMI HPC. The b2share file has been downloaded in advance.

I will do some more testing later, but this looks fine!

[2021-06-14 08:51] treerink commented on #705
Hi Gijs,

I did the `test-all` test as well with this `sftlf-b2share` branch. Actually all seems ok on the IFS and thus `sftlf` side. But I have one unexpected change, and remarkably it is a change in the NEMO error list: These long standing errors are gone, but I guess not for the good reason:

[code]

Do you have any idea why this happened? The `test-all` test has been rather stable over a  long

[2021-06-14 09:14] goord commented on #705
I'm sorry @treerink I haven't got any idea, are the variables ``sivoln``, ``siextents``, ``siextentn`` produced? Or no longer requested?

[2021-06-14 09:28] treerink commented on #705
No they are not suddenly produced unfortunately, that would have been great :)

No I did not change anything in the request, I assume you also did not changed anything on that part in this branch?

Yes, it is rather puzzling...

[2021-06-14 21:20] treerink commented on #705
Ok the problem was that my error checks, checked on "ERROR"  and now we have a severe error which is:
[code]
whereafter it quits the entire NEMO cmorisation. That means a lot of NEMO variables are not cmorised, and thus the reported cases were not longer encountered.

I guess this happens when the function `get_from_b2share` in `cmor_utils.py` is called.

[2021-06-14 21:49] goord commented on #705
Hi Thomas, you probably need to transfer the NEMO vertex files to the new directory?

[2021-06-15 07:47] treerink opened #710 "Add a seperate b2share download script for install"
It would be better to have a seperate script which downloads all the by ece2cmor3 required b2share files (the same script can be used in cmor-fixer as well) for two reasons:

- On HPC platforms the b2share api often leads to problems when one of the files is not downloaded yet
- If one launches a bunch of cmorisation jobs (more than one leg) in the situation that the b2share files are not download

[2021-06-15 08:22] pabretonniere commented on #689
Hi,

I did some tries on this. With a cdo settaxis,$y-01-01,00:00 $file ${file}.new. nctime won't complain (because it modifies the time axis and removes the time bounds) but the metadata in the file will be shifted of one year compared to the real data (because the point is corresponds to the snapshot of the end of the year and not the beginning).

Not sure what's the best option: keep the cmor f

[2021-06-15 15:21] treerink commented on #705
Yes correct. Once all ece2cmor b2share files are in place, the test-all test is ok now.

I added for all ece2cmor b2share files the manual download instruction in a2376da. But as mentioned in #710 it is convenient to add a simple script for this and to add it to the install instruction.

[2021-06-16 11:03] treerink commented on #710
In the `ece2cmor3` root directory the script `download-b2share-dataset.sh` has been added. Its use has been added to the `ece2cmor3` installation guidelines here at the ece2cmor3 Github & on the ec-earth3 portal. The script uses `wget` which seems to work robustly on HPC platforms and it checks if the files are present already as well it checks the `md5` checksums.

[2021-06-16 11:03] #710 closed

[2021-06-16 11:05] treerink commented on #705
After the sftlf b2share branch merge in #711 and adding the b2share download script in #710 we are done.

[2021-06-16 11:05] #705 closed

[2021-06-16 20:43] treerink commented on #704
Full cycle for `EC-Earth3.3.3.2-AOGCM` & `ece2cmor3 v1.8.0` successfully tested.

Ready for `ece2cmor3` `v1.8.0` release.

[2021-06-17 10:58] treerink commented on #704
See https://github.com/EC-Earth/ece2cmor3/releases/tag/v1.8.0

Done

[2021-06-17 10:58] #704 closed

[2021-06-18 07:58] treerink opened #712 "The download-b2share-dataset.sh script fails on cca"
The `download-b2share-dataset.sh` script which has been added to overcome the two issues mentioned in #710, fails on `cca`. On cca it is not `wget` which is the show stopper but it appeared to be a difference in the bash interpreter. The main problem with bash on cca with this script appears to be that obviously [indirect expansion](https://www.gnu.org/software/bash/manual/html_node/Shell-Paramete

[2021-06-18 09:39] treerink commented on #712
Solved in 412613b. The updated script has been successfully tested on four platforms.

[2021-06-18 09:39] #712 closed

[2021-06-18 09:58] aearamos commented on #712
I can confirm It's also working in my local machine and I was able to download the files properly.

[2021-06-18 15:40] treerink opened #713 "Error spotted in rcm-dynamic-plev*-forcing output-control files"
I just spotted an error or at least something which is not handy. It concerns the metadata template files in the rcm-dynamic-plev*-forcing output-control files. It is an unhandy thing because a non existing EC-Earth3 configuration is set which immediately will crash the cmorisation. A little change in `genecec` will correct this.

This is what is wrong in those metadata template files:
[code]
It i

[2021-06-18 15:43] treerink commented on #713
With a10e27b this issue is solved at the ece2cmor3/genecec side.

[2021-06-21 07:34] treerink commented on #713
At the ec-earth side the changes have been committed in the  `r8451-output-control-files` branch and have been merged into the trunk in [r8458](https://dev.ec-earth.org/projects/ecearth3/repository/revisions/8458).

[2021-06-21 07:34] #713 closed

[2021-07-13 10:59] fserva opened #714 "git revision missing for DynVar processing"
Hi @goord @treerink

I am now using the ece2cmor3 master branch to process some data for DynVar.
In order to use it, I use the command  `./switch-on-off-DynVarMIP-mode.sh` `activate-DynVarMIP-mode`.
It seems to be working well.

As you see below there may be a problem with the revision information (already noted during implementation).
It seems the version I am using is 1 commit ahead, and presuma

[2021-07-16 07:56] fserva commented on #714
An update: I've repeated the procedure without tables update, but only doing `./switch-on-off-DynVarMIP-mode.sh activate-DynVarMIP-mode`. This caused the changes:
[code]
but git revision is still `local unknown branch`. Does this happen also with other  `switch-on-off` scripts?

[2021-07-16 07:59] goord commented on #714
Hi @fserva, this is because the git-python package that writes the attribute detects local changes when you run that script. It's not a great deal, since the attribute is not standard, it's for internal tracking be the EC-Earth community. But as long as you remember how you produced the data, I wouldn't worry about this.

[2021-07-16 08:08] fserva commented on #714
Thanks @goord, I will take a note about it. It's fine as long as we know what's going on. Closing this issue then.

[2021-07-16 08:08] #714 closed

[2021-09-07 06:56] uwefladrich opened #715 "nemo2cmor doesn't find bathymetry/subbasins in linked directories"
ece2cmor constructs the paths for the bathymetry and subbasins files (if not given as env vars) as follows:
[code]
The problem is that this does not necessarily works if symbolic links are involved. Consider the following structure:
[code]
So `./foo/bar` is a symbolic link to `./bar`. Then we have
[code]
but
[code]
I had a corresponding situation in our linked-up rundirs and cmorisation dropped so

[2021-10-05 08:57] treerink opened #716 "The unit conversion `cum2inst` is missing for `rls` & `rss`"
This issue is also reported as [ec-earth portal issue 1006](https://dev.ec-earth.org/issues/1006).

Fixing this error in `ece2cmor3` is straightforward in `ifspar.json` by adding the line
[code]
for the variables `rls` & `rss`. From `ifs2cmor.py` we can see that:
[code]
this conversion factor depends on the (IFS) `output_frequency`. Often the  `output_frequency` will be 3 hourly, but it can be 6 h

[2021-10-05 09:13] treerink opened #717 "Implement the CMOR & ece2cmor3 injections for the extremeX project"
The extremeX project requires a lot of non standard CMOR output, however the project wish is to output all output along CMOR standard where possible and in the CMOR way for the remaining part.

Therefore an `add-variables-for-extremeX.sh` script needs to be written which can inject this required additions for cmorising non-CMOR existing extremeX output into the CMOR tables and for inserting additi

[2021-10-06 10:16] treerink commented on #717
Script is ready, needs validation now.

[2021-10-14 09:18] LaKenLin opened #718 "Problems with CORDEX Cmorization"
I am having some trouble using ece2cmor3 for CORDEX data. I used that executable previously for some standard cmorization and it worked. It would be great to get some insight on how to do it properly and if these are problems with ece2cmor or in my use of it.

The following classes of errors occurred:

Dismissed variables: va, hus, us, ta
Typical message: INFO:ece2cmor3.taskloader: Dismissing mode

[2021-10-14 10:22] treerink commented on #718
Hi Laurent,

Here my inline-reply of a few weeks ago which you didn't receive or found:

This are of course the essential variables which you want to cmorise on model levels. Could it be that you have still the flag --skip_alevel_vars activated in your submit script? This is usually strongly recommended if you cmorise data for which you do not use the model levels, but for this case you of course

[2021-11-12 14:28] treerink opened #719 "Add plev23 ssp119 output-control-files"
In addition to #664 the ssp119 (& ssp370) `plev23` & `plev36` `output-control-files` could be added as run examples in `genecec-for-individual-experiments.sh`. Reason is the a wish to study the AMOC behavior with ssp119, in order to compare the downward trend in the other ssp's. This can be taken inside the dutch-climate-scenario project, therefore these  `output-control-files` are added in the ec

[2021-11-12 14:31] treerink commented on #719
Done. This also has been added in `genecec` in an inactive  state (because it would need updates in ec-earth3 trunk as well when activating them).

[2021-11-12 14:31] #719 closed

[2021-11-12 14:48] treerink commented on #716
To keep the option open to select on version with `cmor-fixer` for this issue, an immediate release is required of `ece2cmor` `v1.8.1`.

[2021-11-12 14:57] treerink commented on #716
Issue solved at the `ece2cmor3` side, and `ece2cmor3` `v1.8.1` has been released for this.

[2021-11-12 14:57] #716 closed

[2021-12-09 09:08] jmrgonza opened #720 "Output at first timestep (of first leg) coming from ICMGG????+000000 instead of ICMGG????+YYYYMM file"
I am planing to repeat the cmorization of some historical and scenario runs produced with old releases of EC-Earth3 (3.3.0). I am using ece2cmor3 v1.8.1 for the new cmorization. I wanted to check that the contents of the new files were consistent with my previous cmorization, so I used the 'cdo diff' command to compare them. I expected some differences from issue #671 (also https://dev.ec-earth.or

[2021-12-09 14:46] jmrgonza commented on #720
I created an issue and added some plots in the EC-Earth redmine portal (https://dev.ec-earth.org/issues/1024).

[2021-12-15 08:52] goord commented on #720
Yes we have made some changes to ensure that the static fields are always taken from the ``ICM{GG,SH}????+000000`` files, and I recall there were also some problems for the first time step of the scenarios too. The intended behavior is as follows:

- Instantaneous fields like ``clt_3hr`` should be reported on 0, 3, 6, ... hours and the 0 hour field should therefore come from the previous leg, and

[2021-12-15 09:38] jmrgonza commented on #720
In the case of clt_3hr, the first timestep contains the information from ICMGG????+000000, and the second contains the prediction at 0300 in ICMGG????+185001, so it is kind of the intended behaviour that you mention, with the only exception that the reported time for these first two timesteps in the cmorized files are 01:30 and 04:30. So it looks like instantaneous values like clt_3hr are being sh

[2021-12-15 14:04] goord commented on #720
Ok yes I see now ``clt`` is indeed requested as a temporal mean, which we can't provide of course, so they get assigned to the earlier half-output time step slice, and apparently this behavior has changed since version 1.0, with both solutions being incorrect to a some degree. Perhaps this should be somehow be communicated in an erratum...

[2021-12-16 10:22] treerink commented on #718
As I understood the cmorisation of the model levels on DMI has finished I am closing this issue. Please reopen if needed.

[2021-12-16 10:22] #718 closed

[2022-01-21 17:29] jmrgonza opened #721 "Data downloaded from b2share not installed with package data"
I'm not sure if this is on purpose, but the data that is collected with the download-b2share-dataset.sh and stored in the resources/b2share-data is not installed in the same way as other package data. I think that to do so, the b2share-data directory should be added to the list given in the package_data argument in setup.py.
In my installation, when I install the package with "python setup.py deve

[2022-01-25 14:22] treerink opened #722 "Cmorisation with miniconda2 on cca broken"
Since December 2021 the earlier default installation of `ece2cmor3` on cca fails because the `miniconda` installation fails (a problem with the cca system libc version). This has to do with the ageing software environment on ecgate and cca/ccb. ECMWF does not intend to change the software stack on cca or ecgate, given the decommissioning of these systems in less than 6 months.

An alternative inst

[2022-01-25 14:23] treerink commented on #722
New guidlines for a succesful install with help of mamba on cca can be found here:
https://dev.ec-earth.org/projects/cmip6/wiki/Installation_of_ece2cmor3_on_cca

[2022-01-25 14:26] treerink commented on #722
The `ece2cmor3/scripts/submit-script-examples/submit-at-cca-ece2cmor-leg-job.sh` example submit script for PBS on cca has been adjusted to a mamba install on `$SCRATCH`.

[2022-01-25 14:29] #722 closed

[2022-01-26 10:46] treerink commented on #721
Yes the previous used:
[code]
are replaced by:
[code]
in the `setup.py`. Also some other `genecec` related data files have been added.

[2022-01-26 10:46] #721 closed

[2022-01-26 14:15] jmrgonza opened #724 "Information about git repository hash when ece2cmor3 is installed in develop mode"
I found these attributes in the header of some nc files that I produced with ece2cmor3 v1.8.1:
[code]
Instead of "local unknow branch" there should be a hash of the commit in the ece2cmor3 repository that I am using to process my data. I installed ece2cmor3 in a conda environment using the "python setput.py develop" command (as a workaround to solve another unrelated issue).

I have been looking i

[2022-01-26 21:02] treerink commented on #724
I have added the `checkversion` branch with a little program `versioncheck`, which can be called like:
[code]
In the script you can change the `case` variable to test a few cases. See the different behaviour if one uses:
[code]
or
[code]

[2022-02-04 15:00] treerink opened #725 "Dangerous situation possible in which unintended backups in the output/ifs dir are selected & filtered"
A rather nasty situation can be encountered in which wrong grib files are selected / filtered by the `ifs` component of `ece2cmor3`. If one never has saved copies of grib files (or sub directories with grib files in them) within the `output/ifs/` directory one is safe for this issue. However, if you have copies of grib files inside your  `output/ifs/` directory there is a large change something we

[2022-02-04 15:16] treerink opened #726 "Replace warning by error message for case in which: missing 1 time stamps at the beginning"
In some cases flux values are missing at the start of an experiment, in order to provide a full time record in that case for this initial time slice a field with `missing values` is added.

However, in case where something else goes wrong (for instance #725) this can also occur:
[code]

Therefore it might be better to give an `ERROR:ece2cmor3.ifs2cmor` message instead of the warning, so it will be

[2022-02-04 15:26] treerink opened #727 "Change the recommended install guidelines from conda to mamba"
Since last September `condaforge` has become independent from `Anaconda`. With that it becomes an interesting option to change the ece2cmor recommended install guidelines such that we change from `conda` to `mamba`. For instance for #722 on cca we already needed this. However, we will first have to test whether this install works in general fine for other platforms.

[2022-02-24 15:45] treerink opened #728 "Create VAREX output control files"
For the KNMI VAREX project a dedicated json data request file is needed, and based on that file six output control file directories need to be created. The data request itself is constant for these six cases, but the six directories will reflect the six different metadata cases within the VAREX project.

[2022-02-24 15:50] treerink commented on #728
Done

[2022-02-24 15:50] #728 closed

[2022-02-25 14:47] zklaus opened #729 "python-eccodes is not installable"
In the middle of 2019, ECMWF split python-eccodes from eccodes. This separation is good, but at the same time they reset the version numbering for python-eccodes. The last version of the old scheme, where both eccodes and its python binding had the same version number, was 2.12.3. The first version number in the new scheme was 0.9.2. In order to avoid the larger version numbers overriding the newe

[2022-02-25 16:23] treerink commented on #729
#403 related

[2022-02-25 16:32] zklaus commented on #729
@treerink, yes, quite right. I have a short-term solution that I am preparing right now. Stay tuned...

[2022-03-14 09:20] uwefladrich opened #733 "KeyError when cmorising EC-Earth3-Veg-LR AMIP run"
Hi,

I am getting this error when trying to cmorise an EC-Earth3-Veg-LR AMIP run:
[code]
Immediately followed by this error in the ece2cmor log:
[code]
When trying to cmorise another leg of the same experiment, I've seen the same error, but with another variable of the same table. Thus, I do not think it is related specifically to `ts`.

Any hints what this could be or what I can test?

[2022-03-14 11:01] goord commented on #733
hmm seems to be an issue in the CMOR library, perhaps a mismatch with the table versions...

[2022-03-14 12:31] treerink opened #734 "phasing out LFS"
Again we want to get rid of LFS in ece2cmor3 (like in #234). This means that all data under `ece2cmor3/test/test_data/` has to be moved to the [b2share ece2cmor3-data](https://b2share.eudat.eu/records/f7de9a85cbd443269958f0b80e7bc654).

The total amount of test data is about 730 MB, a large part concerns the LPJG test data (#219) and though there seems to be added a test varlist `ece2cmor3/ece2cmo

[2022-03-14 12:37] treerink opened #735 "Move the lpjg-grid-content files to the b2share ece2cmor3-data"
Also the files under `ece2cmor3/ece2cmor3/resources/lpjg-grid-content/` which have been comitted within the ece2cmor3 git repository actually should be moved to the [b2share ece2cmor3-data](https://b2share.eudat.eu/records/f7de9a85cbd443269958f0b80e7bc654). However, this concerns not that much of data; 15 MB.

Because this files are not archived under git LFS, this issue is separate from #734.

[2022-03-14 20:47] goord commented on #734
Looking around on the internet, it actually seems really hard to remove the git LFS files fully from the history to reduce quota. Github itself recommends removing the entire repo (!) or paying up... I'm quite regretting to have initiated this LFS thing (especially since it isn't really used right now...)

[2022-03-14 20:50] goord commented on #734
By the way, @treerink and @zklaus you can define the environment variable ```GIT_LFS_SKIP_SMUDGE=1``` to skip all LFS downloading LFS files when pulling, so you can keep working with the code in the repo

[2022-03-15 15:13] zklaus commented on #734
Hm. To me, there seems to be quite some misunderstanding. The whole point of LFS is not to have large files in the repo. LFS managed files should take up virtually no space in the repo, so let's have a look:

The following are all the objects (blobs) in the repo that take up more than 1MiB on disk
[code]
The first column is the objectname (the hash), the second the size on disk, and the third the

[2022-03-15 15:15] zklaus commented on #734
@goord, could you clarify what you mean by

What documentation are you referring to and what is the actual problem with simply removing the files? This should not be a problem since the access to those files (and therefore remaining quota) is only required when *checking out a tree that contains them*.

[2022-03-15 16:41] goord commented on #734
Ideally, we remove to he files from the history in such a way that git LFS doesn't see the objects anymore, and a fresh checkout doesn't add to the bandwidth quota.

[2022-03-15 16:44] zklaus commented on #734
If you just normally remove the files in a new commit, a fresh checkout (i.e. updating the working directory to a specific state) to a state without the files will not add to the bandwidth. I don't think any dark (history rewriting) magic is required here.

[2022-03-15 16:47] goord commented on #734
Well too hat would be perfect, let's find out!

[2022-03-16 10:45] goord commented on #734
I removed the test data directly on the master branch.
A fresh clone is slow, but working again. Seems you're right @zklaus!

[2022-03-16 10:47] zklaus commented on #734
Cheers :smile:

Re the slowness of cloning: As I indicated above, there are a few large files lurking in the history that had been added before the adoption of LFS. It might make sense to get rid of them, but that is indeed a bit more involved.

[2022-03-16 11:07] goord commented on #734
I guess I was confused about something I read about removing privacy-sensitive data from the LFS history. But we do not need to clean up the LFS history (unless we all go try checkout old revisions). Removing the big blobs from the repo history is something we can do in another issue.

@treerink I guess we don't need to create anything on b2share now, the lpjg files are still on git LFS and in cas

[2022-03-16 12:53] zklaus commented on #734
Agree on tackling the big blobs in another issue. The reason to put the files on b2share (or make them available in another way) would be to allow any tests that need them to run. I am not sure what the state of the tests is, though.

[2022-03-16 13:02] goord commented on #734
There are no tests anymore using the test data. I converted the data to csv files contanining only the grib record metadata and those are used in tests

[2022-03-16 13:03] zklaus commented on #734
Perfect. In that case they can and should really just go.

[2022-03-16 13:05] goord commented on #734
ok closing the issue then

[2022-03-16 13:05] #734 closed

[2022-03-16 16:27] treerink commented on #735
Actually the LPJG grid files are not under LFS at all. Therefore I made a separate issue for this. It would be logical to addthese  lpjg-grid-content files to the ece2cmor b2share dataset because also the nemo grid files are archived overthere. However, it is not very urgent as this concerns only 15 MB.

[2022-03-21 10:48] uwefladrich commented on #733
Hi @goord, is there anything I can try or test? Is it helpful to try and minimise the example to make it easier to reproduce? Or can I check table versions somehow?

[2022-03-21 11:06] goord commented on #733
Hi @uwefladrich yes sorry, there is something you can do: (i) post the version of ece2cmor3 and make sure the cmor-tables are up-to-date and (ii) run sequentially only the Amon-variables and post the full log output here. I will try to reproduce it this evening.

[2022-03-21 15:30] uwefladrich commented on #733
(i) `ece2cmor v1.8.1` I updated the git submodules recursively, but the tables stayed the same, so I assume they are up-to-date.

(ii) [l610-ifs-005-20220321151854.log](https://github.com/EC-Earth/ece2cmor3/files/8316717/l610-ifs-005-20220321151854.log) (the `*.cmor.log` file is empty)

[2022-03-21 20:45] goord commented on #733
Strange. In your log you posted, it is the table day that is gives an error when being loaded.

[2022-03-21 21:07] goord commented on #733
Uwe if you change line 69 in `ece2cmorlib.py` from
[code]
to
[code]
and then run the cmorization **without specifying a log file**, maybe more information will be sent to `stderr`?

[2022-03-24 07:57] uwefladrich commented on #733
It is `fx/sftlf`. The other two `fx` variables (`areacella` and `orog`) do not trigger the error.

[2022-03-24 08:54] goord commented on #733
Thanks for tracking this down @uwefladrich, sftlf is a special variable that requires downloading a file from b2share (there is a ``download_sftlf`` function in ``ifs2cmor.py``). Maybe the function hangs on the downloading, which somehow causes the cmor library to report a failure to load a table (speculating here). Could you try to debug on your system by inserting some print messages in ``downlo

[2022-03-24 12:07] treerink commented on #733
Usually on an HPC platform I would recommend (at installation) to run from your ece2cmor3 root directory:
 `./download-b2share-dataset.sh ${HOME}/cmorize/ece2cmor3/ece2cmor3/resources/b2share-data`
which makes all b2share files are downloaded. If the download is the problem, this might solve it.

[2022-03-24 13:29] uwefladrich commented on #733
I re-initiated the download manually, but it didn't get more/new files, so the problem remains. In particular, `fx-sftlf-EC-Earth3-T159.nc` is not changed.

[2022-03-30 09:24] etiennesky commented on #483
I would like to understand why this known problem was not fixed in ece2cmor3, given that it is a simple fix, instead of done in a post-processing script which is not included in ece2cmor3

[2022-03-30 10:04] goord commented on #483
I guess this is an example of 'minimization of effort' from our side. We have plenty of static data on b2share, this one could be added easily.

[2022-04-05 10:27] treerink opened #737 "Testing the python-3-klaus branch"
I have freshly installed `ece2cmor3-py3` on my ubuntu laptop by using `mamba` (this uses `python3.10`) which is thus based on the `python-3-klaus` branch.

In an active environment I am able to run very basic stuff like: `cdo -V` (v2.05), `ece2cmor3 -h`, `drq -h`.

The first thing I try is to run `genecec` (I had ported `genecec` earlier to python3 and this was at least at that time working). In t

[2022-04-05 10:47] zklaus commented on #737
Let's take this in the PR.

[2022-04-05 10:47] #737 closed

[2022-06-03 09:10] klauswyser opened #738 "Update license text in metadata file?"
The license of CMIP6 models including EC-Earth3 will be changed to CC BY 4.0 (removing "Shared Alike"), see [1]. Should this change also be reflected in the metadata template in ece2cmor3? Or maybe this is not necessary any longer because license handling will be centralised according to an e-mail from Paul Dirac:

[1] https://dev.ec-earth.org/projects/cmip6/wiki/License_on_EC-Earth3_CMIP6_data#Up

[2022-06-03 09:39] treerink commented on #738
As far I understand they will 'fix' this at the CMIP6 citation pages (DOI landing pages). Adjusting the  metadata template of course will make the change of the licence in the netcdf meta data for future cmorisation. For published data on the ESGF nodes a cmor-fixer option could be added, but I think republishing all current published EC-Earth data is too much effort (there is the waiver). A last

[2022-06-03 12:42] klauswyser commented on #738
I agree that it's not worth the effort to fix the license in all existing ECE3 data but I still think it would be nice to update the metadata template that is distributed with the ece2cmor3 tool so all future publications become correct.

Other than CMIP6  datasets are of no concern here, such experiments/variables will have different metadata anyway, including a different license.

[2022-06-03 15:07] treerink commented on #738
Okay, let's update that from our side. They should update this site:
 https://pcmdi.llnl.gov/CMIP6/TermsOfUse/TermsOfUse6-1.html
because the netcdf metadata refers to this one. The following files will be updated:
[code]

[2022-06-03 15:10] treerink commented on #738
Done.

[2022-09-14 12:46] treerink opened #739 "Additional LAMACLIMA request"
The LAMACLIMA project has asked for additional variables and a new project with the EC-Earth3-CC configuration.

[2022-11-10 10:57] nierad commented on #582
This issue can be closed. The solution is to
**NEVER HAVE A BACKUP FOLDER IN    .../output/<model>/  starting with <leg_number>, e.g. 001_backup**

[2022-11-10 11:37] treerink commented on #582
Indeed: #725.

[2022-11-22 13:23] treerink opened #740 "Update the nested CMOR tables for their updates"
Update the nested CMOR tables for their updates. This is also an attempt to solve the failing tests which is due to the license change. This CMOR tables updates seem to contain license updates, so let's see whether this solves it, or further action is needed.

[2022-11-22 13:38] treerink commented on #740
Fortunately with the update of the nested CMOR table repository the failed tests since the license adjustment issue #738, is solved now finally.

[2022-11-22 13:38] #740 closed

[2022-11-22 14:52] treerink opened #741 "dreqPy broken for recent python version"
The `genecec` part of the code depends on `dreqPy` and used python3 (but until recent a python3.4 or close version was used for `genecec).` However, when using a recent python version like python3.10.6 `dreqPy` appears to be broken due to the deprication of getiterator() which is replaced by iter() in ElementTree (see [here](https://github.com/cmip6dr/dreqPy1.2/issues/1)). Until this has been fixe

[2022-11-25 10:55] treerink commented on #741
The workaround has been removed, now the latest `dreqPy` `01.02.00` version has been released which has the `iter` issue fixed. `Genecec` can be run again for the master and the python3 branch.

[2022-11-25 10:55] #741 closed

[2022-11-25 11:03] treerink commented on #727
An earlier attempt of this transition was hold by the `dreqPy` - `genenec` issue which is now solved in #741. Current status: the revised guidelines have been written but are not shared yet, the _genecec_ part is validated, but the `ece2cmor3` part requires still a new full validation.

However, I expect this to be successful and the future way of installing ece2cmor3.

[2022-11-29 15:39] zklaus commented on #741
This should not have been an issue, because that problem was solved in the Conda-forge package via a patch. But happy to see the new release of Dreqpy on Pypi, which I have now also released on Conda-forge.